<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<title>公司简介</title>
		<link rel="stylesheet" href="/public/front/stylesheets/jianjie/jquery.fullPage.css">
		<link href="/public/front/stylesheets/jianjie/lanrenzhijia.css" type="text/css" rel="stylesheet" />
		
		<link rel="stylesheet" href="/public/front/stylesheets/jianjie/demo.css" >
		<link rel="stylesheet" href="/public/front/stylesheets/jianjie/jquery.flipster.css" >
		<link rel="stylesheet" href="/public/front/stylesheets/jianjie/flipsternavtabs.css" >
		<script src="/public/front/javascripts/jquery-1.8.3.min.js"></script>
		<script src="/public/front/javascripts/jquery-ui.min.js"></script>
		<script src="/public/front/javascripts/js/jquery.fullPage.min.js"></script>
		<script src="/public/front/javascripts/js/jquery.flipster.js" ></script>
		<script>
			$(function() {
				if($.browser.msie && $.browser.version < 10) {
					$('body').addClass('ltie10');
				}
				$.fn.fullpage({
					verticalCentered: false,
					anchors: ['page1', 'page2', 'page3', 'page4', 'page5', 'page6', 'page7', 'page8', 'page9', 'page10'],
					navigation: true,
					navigationTooltips: ['首页', '改变', '存管', '安全', '全新', '团队', '文化', '资质', '马上体验']
				});
			});
		</script>
	</head>

	<body>

		<div class="section section1">
			<div class="bg"><img src="/public/front/images/jianjie/section1.jpg" alt=""></div>
			<div class="bg11"></div>
			<div class="bg12"></div>
			<div class="bg13"></div>
	
			<div class="hgroup">
				<h1><a href="http://www.ouyepuhui.cn/">讴业普惠（存管版）</a></h1>
				<h2>全新改变，与您见面。</h2>
			</div>
			<p class="p11">讴业普惠互联网金融信息中介平台，于2016年6月成立于河北省会石家庄，注册资本达一个亿，隶属于石家庄菲尔德投资咨询有限公司。讴业普惠作为一个网络借贷信息中介机构，以互联网为主要渠道，为出借人与借款人实现直接借贷提供信息搜集、信息公布、资信评估、信息交互、借贷撮合等服务。</p>
		</div>

		<div class="section section2">
			<div class="bg"><img src="/public/front/images/jianjie/section2.jpg" alt=""></div>
			<div class="bg21"></div>
			<div class="bg22"></div>
			<div class="bg23"></div>
			<strong>[ 视觉·简 ]</strong>
			<h3>华丽蜕变，尽享愉悦之美</h3>
			<p class="p1">随着讴业普惠与宜宾市商业银行对接，平台完成升级。新的UI界面以最美的姿态呈现给您，让您更加方便快捷的进行操作。</p>
		</div>

		<div class="section section3">
			<div class="bg"><img src="https://image.ouyepuhui.com/images/section3.jpg" alt=""></div>
			<div class="bg31"></div>
			<div class="bg32"></div>
			<div class="bg33"></div>
			<strong>[对接银行]</strong>
			<h3>资金对接银行，安全又放心</h3>
			<p class="p3">为了广大用户的资金安全，讴业普惠成功对接宜宾市商业银行存管系统。资金安全更有保障，银行必须根据用户授权指令才能进行对应资金操作，交易更安全透明。</p>
		</div>

		<div class="section section4">
			<div class="bg"><img src="https://image.ouyepuhui.com/images/section4.jpg" alt=""></div>
			
			<div class="bg42"></div>
			
			<strong>[ 风控保障 ]</strong>
			<h3>九重风控安全，让您放心借贷</h3>
			<p class="p1">推动业务拓展、大数据分析和精细化管理的规范化建设；以合规管理为保险屏障，推进业务结构优化创新，营销提升。面对行业竞争 加剧、发展风险与压力加重的客观形势，集团在决策管理上，突出“控奉献、重稳健、求发展”的层次把控；在执行力建设上，积极调整战略，打造高精风控团队， 从而确保集团持续稳健发展。

			</p>
		</div>

		<div class="section section5">
			<div class="bg"><img src="/public/front/images/jianjie/section5.jpg" alt=""></div>
			<strong>[ 功能·新 ]</strong>
			<h3>灵活机变，全面为你而生</h3>
			<div class="bg51">
				<h4>媒体公告</h4>
				<p>媒体公告实时查看，了解最近业内新闻动向，把握一手信息，让你赢在起跑线上</p>
			</div>
			<div class="bg52">
				<h4>帮助中心上线</h4>
				<p>不会操作平台？多大点儿事儿，新帮助中心帮你忙，一切问题随时搞定，一般人我不告诉他</p>
			</div>
			<div class="bg53">
				<h4>存管对接</h4>
				<p>讴业普惠实现与宜宾市商业银行对接项目，资金更安全，选好平台———来讴业普惠</p>
			</div>
			<div class="bg54">
				<h4>新视频模块</h4>
				<p>是不是还没有机会认真了解我们的公司？新的视频模块搞定<br>就在首页的左下角哦</p>
			</div>
		</div>

		<div class="section section6">
			<div class="bg"><img src="/public/front/images/jianjie/section6.jpg" alt=""></div>
			<div class="bg61"></div>
			<div class="bg62"></div>
			<strong>[ 最强团队 ]</strong>
			<h3>最强的团队，打造最强大的后盾</h3>
			<div class="txt6">
				<p>讴业普惠拥有最专业的风控团队，严格把控风险，确保您的资金安全
				</p>
				<p>讴业普惠拥有最强大的技术团队，确保线上平台的安全与操作，让您的体验更加方便
				</p>
			</div>
		</div>

		

		<div class="section section8">
			<div class="bg"><img src="/public/front/images/jianjie/section8.jpg" alt=""></div>
			<div class="bg81"></div>
			<div class="bg82"></div>
			<div class="bg83"></div>
			<div class="bg84"></div>
			<strong>[ 企业文化 ]</strong>
			<h3>厚积薄发，大幅度提速创新标</h3>
			<p class="p8">讴业普惠始终贯彻“坚守、探索、奋斗、追逐”的企业 文化，秉承着“普惠金融，阳光普惠”的核心价值观，依靠严格管理和经济发展，在各位领导和全体员工的共同努力下，企业得到了飞速的发展，取得了突出的 成就。
			</p>
		</div>

		<div class="section section9">
			<div class="bg"><img src="/public/front/images/jianjie/section9.jpg" alt=""></div>
			<strong>[ 资质保障 ]</strong>
			<h3><span></span>沟通无界，连接易信无缝整合</h3>
			<div class="flipster">
				<ul>
					<li>
						<a href="#" class="Button Block">
							<img src="https://image.ouyepuhui.com/images/certificat-pic.png"/>
						</a>
					</li>
					<li>
						<a href="#" class="Button Block">
							<img style="margin-top: 95px;" src="https://image.ouyepuhui.com/images/compte-pic.png"/>
						</a>
					</li>
					<li>
						<a href="#" class="Button Block">
							<img style="margin-top: 92px;" src="https://image.ouyepuhui.com/images/entreprise-pic.png"/>
						</a>
					</li>
			  	</ul>
			</div>
		</div>

		<div class="section section10">
			<div class="bg"><img src="/public/front/images/jianjie/section10.jpg" alt=""></div>
			<div class="bg101"></div>
			<div class="bg102"></div>
			<div class="bg103"></div>
			<a class="go" href="@{front.FrontHomeCtrl.frontHomePre()}" >讴业普惠</a>
			<p class="copyright">
				<a href="javascript:;">关于讴业</a>
				<a href="javascript:;">手机APP</a>
				<a href="javascript:;">微信公众号</a>
				<a href="javascript:;">联系客服</a>
				<a href="javascript:;">隐私政策</a>
			</p>
		</div>

	</body>

</html>
<script>
$(function(){ 
	$(".flipster").flipster({ 
		style: 'carousel', 
		start: 0 }); 
	});
</script>