#{extends 'common/front/frontFootMain.html' /}
#{set title:'联系我们' /}
#{set AItem:4 /}
#{set smallclass:7 /}

<div class="container mt30">
	<div class="detail-box aboutus-box clearfix">
		<div class="left contactus-left c3">
			<p>${settings?.get(common.constants.SettingKey.COMPANY_NAME)}</p>
			<p>联系电话</p>
			<p class="major">${settings?.get(common.constants.SettingKey.COMPANY_TEL)}</p>
			
			<p>邮箱</p>
			<p class="major">${settings?.get(common.constants.SettingKey.COMPANY_EMAIL)}</p>
			<p>公司地址</p>
			<p>${settings?.get(common.constants.SettingKey.COMPANY_ADDRESS)}</p>
		</div>
		<iframe src="@{front.FrontHomeCtrl.baidumapPre()}" class="right baidumap"></iframe>
	</div>
</div>
<!-- main end-->


<script type="text/javascript">
	require(['front'],function(front){

	});
</script>