 #{extends 'common/frontMain.html' /} #{set title: '首页'/} #{set AItem:3
/}
<link rel="stylesheet" type="text/css" href="/public/front/stylesheets/commonality.css" />
<link rel="stylesheet" type="text/css" href="/public/front/stylesheets/company_profile.css" />
	
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=PdAQXjrLc1LV8SgFtnkm1QCo&s=1"></script>
	

	
<script src="/public/front/javascripts/js/ace.min.js" type="text/javascript" charset="utf-8"></script>
	
<script src="/public/front/javascripts/js/taxon.js" type="text/javascript" charset="utf-8"></script>
	
<!--左边导航栏-->
<div class="center-box">
	<!--左边栏-->
	<div id="leftmenu">
		<ul>
			<li class="menu-title"><a class="btn-anquan"
				href="@{front.FrontHomeCtrl.aboutUsPre()}">公司简介</a></li>
			<li class="menu-title"><a class="btn-licehng"
				href="javascript:void(0);">发展历程</a></li>
			<li class="button"><a href="javascript:void(0);">企业风貌<img
					class="jt-r" src="/public/front/images/pic/right-jt.png" /></a></li>
			<li class="dropdown" style="display: none;">
				<ul class="menu-left-box">
					<li><a class="btn-shijiazhuang" href="javascript:void(0);">石家庄</a></li>
					<li><a class="btn-baoding" href="javascript:void(0);">保定</a></li>
					<li><a class="btn-hengshui" href="javascript:void(0);">衡水</a></li>
					<li><a class="btn-yixian" href="javascript:void(0);">易县</a></li>
					<li><a class="btn-xiongxian" href="javascript:void(0);">雄县</a></li>
					<li><a class="btn-raorang" href="javascript:void(0);">饶阳</a></li>
					<li><a class="btn-mancheng" href="javascript:void(0);">满城</a></li>
					<li><a class="btn-shanxi" href="javascript:void(0);">陕西</a></li>
					<li><a class="btn-laishui" href="javascript:void(0);">涞水</a></li>
				</ul>
			</li>





			<li class="button"><a href="javascript:void(0);">员工风采<img
					class="jt-r" src="/public/front/images/pic/right-jt.png" /></a></li>
			<li class="dropdown" style="display: none;">
				<ul class="menu-left-box">
					<li><a class="btn-shijiazhuang1" href="javascript:void(0);">石家庄</a></li>
					<li><a class="btn-baoding1" href="javascript:void(0);">保定</a></li>
					<li><a class="btn-hengshui1" href="javascript:void(0);">衡水</a></li>
					<li><a class="btn-yixian1" href="javascript:void(0);">易县</a></li>
					<li><a class="btn-xiongxian1" href="javascript:void(0);">雄县</a></li>
					<li><a class="btn-raorang1" href="javascript:void(0);">饶阳</a></li>
					<li><a class="btn-mancheng1" href="javascript:void(0);">满城</a></li>
					<li><a class="btn-shanxi1" href="javascript:void(0);">陕西</a></li>
					<li><a class="btn-laishui1" href="javascript:void(0);">涞水</a></li>
				</ul>
			</li>

			<li class="button"><a href="javascript:void(0);">媒体资讯<img
					class="jt-r" src="/public/front/images/pic/right-jt.png" /></a></li>
			<li class="dropdown" style="display: none;">
				<ul class="menu-left-box">
					<li><a class="btn-guanfang" href="javascript:void(0);">官方公告</a></li>
					<li><a class="btn-meiti" href="javascript:void(0);">媒体公告</a></li>
					<li><a class="btn-gushi" href="javascript:void(0);">理财故事</a></li>
				</ul>
			</li>

			<li class="menu-title" onclick="ioio()"><a class="btn-baozhang"
				href="javascript:void(0);">安全保障</a></li>
			<li class="menu-title"><a class="btn-zizhi"
				href="javascript:void(0);">荣誉资质</a></li>
			<li class="menu-title"><a class="btn-xinshou"
				href="@{front.FrontHomeCtrl.newhandPre()}" >新手指引</a></li>
			<li class="menu-title"><a class="btn-lianxi"
				href="javascript:void(0);">联系我们</a></li>

			<li class="button"><a href="javascript:void(0);">帮助中心<img
					class="jt-r" src="/public/front/images/pic/right-jt.png" /></a></li>
			<li class="dropdown" style="display: none;">
				<ul class="menu-left-box">
					<li><a class=" btn-bangzhu" href="javascript:void(0);">金融知识</a></li>
					<li><a class="btn-jiekuanzhuanti" href="javascript:void(0);">借款专题</a></li>
					<li><a class="btn-licaizhuanti" href="javascript:void(0);">理财专题</a></li>
				</ul>
			</li>

		</ul>
	</div>
	<!--左边栏-->
	<div class="rg-box">
		<div class="evolution-box" style="display: none;">
			<h2 class="evolution-course">发展历程</h2>
			<div class="baoguo">

				<div class="dingwei-box">
					<div class="course-year">
						<div class="course-year-rdv">2017</div>
					</div>
				</div>
				<div class="history">
					<div class="history-time">2107.08.02</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							讴业普惠木兰围场草原行</span>
						<!--小轮播-->
					<div class="lii">	
						<div id="cont">

							<div class="btn" id="btn">
								<ul>
									<li class="on">1</li>
									<li>2</li>
									<li>3</li>
									<li>4</li>
									<div style="clear: both"></div>
								</ul>
							</div>
							<div class="imm" id="imm">
								<a href="javascript:;"> <img src="/public/front/images/inte/158.png"></a> <a
									href="javascript:;"> <img src="/public/front/images/inte/158.png"></a> <a
									href="javascript:;"> <img src="/public/front/images/inte/158.png"></a> <a
									href="javascript:;"> <img src="/public/front/images/inte/158.png"></a>
							</div>
							<div id="jiao">
								<p id="left"></p>
								<p id="right"></p>
								<p id="tp1"></p>
							</div>
						</div>
					</div>	
						<!--小轮播-->
					</div>
				</div>

				<div class="history">
					<div class="history-time">2017.07.20</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							7.20讴业理财红包日</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2017.07.13</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							讴业普惠实现与宜宾银行对接存管</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2017.07.07</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							7.7爱在讴业活动启动</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2017.06.26</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							讴业普惠陕西分公司成立</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2017.06.21</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							讴业普惠平台业绩突破一个亿</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2017.60.18</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							活动礼品送货到家服务开启</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2017.06.16</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected"> 客服部成立</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2017.06.01</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							儿童节活动盛大开启</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2017.05.10</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							讴业普惠雄安新区（雄县）运营中心成立</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2017.05.08</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							讴业普惠线上平台突破7000万</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2017.04.18</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							讴业普惠线上平台突破6000万</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2017.04.15</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							顺平运营中心成立</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2017.03.25</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							满城运营中心成立</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2017.03.21</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							讴业普惠上线平台突破5000万</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2017.02.16</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							讴业普惠上线平台突破4000万</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2017.01.18</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							饶阳县运营中心成立</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2017.01.09</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							获得互联网金融行业认证</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2017.01.06</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							讴业普惠线上平台突破3000万</span>
					</div>
				</div>
				<div class="dingwei-box">
					<div class="course-year">
						<div class="course-year-rdv">2016</div>
					</div>
				</div>
				<!--121-->
				<div class="history">
					<div class="history-time">2016.12.22</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							云阙网络科技有限公司技术部成立</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2016.12.19</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							成功并购菲尔德投资咨询有限公司</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2016.12.08</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							讴业房产经纪有限公司注册成立</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2016.12.06</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							易县运营中心成立</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2016.11.29</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							讴业普惠线上平台突破2000万</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2016.10.27</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							讴业普惠线上平台突破1000万</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2016.09.23</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							涿州市运营中心成立</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2016.09.13</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							云阙网络科技有限公司荣获WMIC移动互联网优秀企业奖</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2016.09.05</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected"> 获得可信网站
							中网认证</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2016.09.01</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							高碑店市运营中心成立</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2016.08.29</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							获得互联网金融行业实名示范网站认证</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2016.08.05</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							讴业普惠线上平台正式上线</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2016.07</div>
					<div class="history-title">
						<i class="history-icon"></i> <span class="selected">
							讴业普惠保定市分公司成立</span>
					</div>
				</div>

				<div class="history">
					<div class="history-time">2016.06</div>
					<div class="history-title-1">
						<i class="history-icon"></i> <span class="selected">
							讴业普惠注册成立</span>
					</div>
				</div>
			</div>
		</div>
		<!--一块-->
		<div class="evolution-box1" style="display: block;">
			<h2 class="evolution-course">石家庄</h2>
			<div class="style-features">
				<img src="/public/front/images/gkj.jpg"/>

			</div>
		</div>
		<div class="evolution-box2">
			<h2 class="evolution-course">保定</h2>
			<div class="style-features">
				<img src="/public/front/images/gkj.jpg" />

			</div>
		</div>
		<div class="evolution-box3">
			<h2 class="evolution-course">衡水</h2>
			<div class="style-features">
				<img src="/public/front/images/gkj.jpg" />

			</div>
		</div>
		<div class="evolution-box4">
			<h2 class="evolution-course">易县</h2>
			<div class="style-features">
				<img src="/public/front/images/gkj.jpg" />

			</div>
		</div>
		<div class="evolution-box5">
			<h2 class="evolution-course">雄县</h2>
			<div class="style-features">
				<img src="/public/front/images/gkj.jpg" />

			</div>
		</div>
		<div class="evolution-box6">
			<h2 class="evolution-course">饶阳</h2>
			<div class="style-features">
				<img src="/public/front/images/gkj.jpg" />

			</div>
		</div>
		<div class="evolution-box7">
			<h2 class="evolution-course">满城</h2>
			<div class="style-features">
				<img src="/public/front/images/gkj.jpg" />

			</div>
		</div>
		<div class="evolution-box8">
			<h2 class="evolution-course">陕西</h2>
			<div class="style-features">
				<img src="/public/front/images/gkj.jpg" />

			</div>
		</div>
		<div class="evolution-box9">
			<h2 class="evolution-course">涞水</h2>
			<div class="style-features">
				<img src="/public/front/images/gkj.jpg" />

			</div>
		</div>
		<!--二块--九块-->
		<div class="evolution-box10">
			<h2 class="evolution-course">石家庄</h2>
			<div class="style-features">
				<img src="/public/front/images/gkj.jpg" />

			</div>
		</div>
		<div class="evolution-box11">
			<h2 class="evolution-course">保定</h2>
			<div class="style-features">
				<img src="/public/front/images/gkj.jpg" />

			</div>
		</div>
		<div class="evolution-box12">
			<h2 class="evolution-course">衡水</h2>
			<div class="style-features">
				<img src="/public/front/images/gkj.jpg" />

			</div>
		</div>
		<div class="evolution-box13">
			<h2 class="evolution-course">易县</h2>
			<div class="style-features">
				<img src="/public/front/images/gkj.jpg" />

			</div>
		</div>
		<div class="evolution-box14">
			<h2 class="evolution-course">雄县</h2>
			<div class="style-features">
				<img src="/public/front/images/gkj.jpg" />

			</div>
		</div>
		<div class="evolution-box15">
			<h2 class="evolution-course">饶阳</h2>
			<div class="style-features">
				<img src="/public/front/images/gkj.jpg" />

			</div>
		</div>
		<div class="evolution-box16">
			<h2 class="evolution-course">满城</h2>
			<div class="style-features">
				<img src="/public/front/images/gkj.jpg" />

			</div>
		</div>
		<div class="evolution-box17">
			<h2 class="evolution-course">陕西</h2>
			<div class="style-features">
				<img src="/public/front/images/gkj.jpg" />

			</div>
		</div>
		<div class="evolution-box18">
			<h2 class="evolution-course">涞水</h2>
			<div class="style-features">
				<img src="/public/front/images/gkj.jpg" />

			</div>
		</div>
		<!--十到十八-->
		<div class="evolution-box19">
			<h2 class="evolution-course">官方公告</h2>

			<ul class="official">
				<li><a class="official-pic" href="" > <img
						src="/public/front/images/vue-pic.png" />
				</a>
					<div class="official-rg">
						<h2>
							<a href="">J868号陕惠房贷发标公告</a>
						</h2>
						<p>
							讴业普惠客服 <span>17/08/24 18:27:36</span>
						</p>
						<div class="official-size">
							<a href="">
								<p>
									尊敬的讴业普惠用户：<br /> 您好！2017年8月20号下午18:50发标项目安如下：<br />
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
								</p>
							</a>
						</div>
						<div class="official-tubiao">
							<span class="haveseen-icon" title="浏览次数"><i>7</i></span> <span
								class="yan-icon" title="赞一个"><i>13</i></span>
						</div>
					</div></li>
				<li><a class="official-pic" href=""> <img
						src="/public/front/images/vue-pic.png" />
				</a>
					<div class="official-rg">
						<h2>
							<a href="">J868号陕惠房贷发标公告</a>
						</h2>
						<p>
							讴业普惠客服 <span>17/08/24 18:27:36</span>
						</p>
						<div class="official-size">
							<a href="">
								<p>
									尊敬的讴业普惠用户：<br /> 您好！2017年8月20号下午18:50发标项目安如下：<br />
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
								</p>
							</a>
						</div>
						<div class="official-tubiao">
							<span class="haveseen-icon" title="浏览次数"><i>7</i></span> <span
								class="yan-icon" title="赞一个"><i>13</i></span>
						</div>
					</div></li>
				<li><a class="official-pic" href=""> <img
						src="/public/front/images/vue-pic.png" />
				</a>
					<div class="official-rg">
						<h2>
							<a href="">J868号陕惠房贷发标公告</a>
						</h2>
						<p>
							讴业普惠客服 <span>17/08/24 18:27:36</span>
						</p>
						<div class="official-size">
							<a href="">
								<p>
									尊敬的讴业普惠用户：<br /> 您好！2017年8月20号下午18:50发标项目安如下：<br />
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
								</p>
							</a>
						</div>
						<div class="official-tubiao">
							<span class="haveseen-icon" title="浏览次数"><i>7</i></span> <span
								class="yan-icon" title="赞一个"><i>13</i></span>
						</div>
					</div></li>
				<li><a class="official-pic" href=""> <img
						src="/public/front/images/vue-pic.png" />
				</a>
					<div class="official-rg">
						<h2>
							<a href="">J868号陕惠房贷发标公告</a>
						</h2>
						<p>
							讴业普惠客服 <span>17/08/24 18:27:36</span>
						</p>
						<div class="official-size">
							<a href="">
								<p>
									尊敬的讴业普惠用户：<br /> 您好！2017年8月20号下午18:50发标项目安如下：<br />
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
								</p>
							</a>
						</div>
						<div class="official-tubiao">
							<span class="haveseen-icon" title="浏览次数"><i>7</i></span> <span
								class="yan-icon" title="赞一个"><i>13</i></span>
						</div>
					</div></li>
			</ul>
		</div>
		<!--十九块-->
		<div class="evolution-box20">
			<h2 class="evolution-course">理财故事</h2>

			<ul class="official">
				<li><a class="official-pic" href=""> 
					<img src="/public/front/images/vue-pic.png" />
				</a>
					<div class="official-rg">
						<h2>
							<a href="">J868号陕惠房贷发标公告</a>
						</h2>
						<p>
							讴业普惠客服 <span>17/08/24 18:27:36</span>
						</p>
						<div class="official-size">
							<a href="">
								<p>
									尊敬的讴业普惠用户：<br /> 您好！2017年8月20号下午18:50发标项目安如下：<br />
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
								</p>
							</a>
						</div>
						<div class="official-tubiao">
							<span class="haveseen-icon" title="浏览次数"><i>7</i></span> <span
								class="yan-icon" title="赞一个"><i>13</i></span>
						</div>
					</div></li>
				<li><a class="official-pic" href=""> <img
						src="/public/front/images/vue-pic.png" />
				</a>
					<div class="official-rg">
						<h2>
							<a href="">J868号陕惠房贷发标公告</a>
						</h2>
						<p>
							讴业普惠客服 <span>17/08/24 18:27:36</span>
						</p>
						<div class="official-size">
							<a href="">
								<p>
									尊敬的讴业普惠用户：<br /> 您好！2017年8月20号下午18:50发标项目安如下：<br />
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
								</p>
							</a>
						</div>
						<div class="official-tubiao">
							<span class="haveseen-icon" title="浏览次数"><i>7</i></span> 
							<span class="yan-icon" title="赞一个"><i>13</i></span>
						</div>
					</div></li>
				<li><a class="official-pic" href=""> <img
						src="/public/front/images/vue-pic.png" />
				</a>
					<div class="official-rg">
						<h2>
							<a href="">J868号陕惠房贷发标公告</a>
						</h2>
						<p>
							讴业普惠客服 <span>17/08/24 18:27:36</span>
						</p>
						<div class="official-size">
							<a href="">
								<p>
									尊敬的讴业普惠用户：<br /> 您好！2017年8月20号下午18:50发标项目安如下：<br />
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
								</p>
							</a>
						</div>
						<div class="official-tubiao">
							<span class="haveseen-icon" title="浏览次数"><i>7</i></span> <span
								class="yan-icon" title="赞一个"><i>13</i></span>
						</div>
					</div></li>
				<li><a class="official-pic" href=""> <img
						src="/public/front/images/vue-pic.png" />
				</a>
					<div class="official-rg">
						<h2>
							<a href="">J868号陕惠房贷发标公告</a>
						</h2>
						<p>
							讴业普惠客服 <span>17/08/24 18:27:36</span>
						</p>
						<div class="official-size">
							<a href="">
								<p>
									尊敬的讴业普惠用户：<br /> 您好！2017年8月20号下午18:50发标项目安如下：<br />
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
								</p>
							</a>
						</div>
						<div class="official-tubiao">
							<span class="haveseen-icon" title="浏览次数"><i>7</i></span> <span
								class="yan-icon" title="赞一个"><i>13</i></span>
						</div>
					</div></li>
			</ul>
		</div>
		<!--二十块-->
		<div class="evolution-box21">
			<h2 class="evolution-course">媒体公告</h2>

			<ul class="official">
				<li><a class="official-pic" href=""> <img
						src="/public/front/images/vue-pic.png" />
				</a>
					<div class="official-rg">
						<h2>
							<a href="">J868号陕惠房贷发标公告</a>
						</h2>
						<p>
							讴业普惠客服 <span>17/08/24 18:27:36</span>
						</p>
						<div class="official-size">
							<a href="">
								<p>
									尊敬的讴业普惠用户：<br /> 您好！2017年8月20号下午18:50发标项目安如下：<br />
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
								</p>
							</a>
						</div>
						<div class="official-tubiao">
							<span class="haveseen-icon" title="浏览次数"><i>7</i></span> <span
								class="yan-icon" title="赞一个"><i>13</i></span>
						</div>
					</div></li>
				<li><a class="official-pic" href=""> <img
						src="/public/front/images/vue-pic.png" />
				</a>
					<div class="official-rg">
						<h2>
							<a href="">J868号陕惠房贷发标公告</a>
						</h2>
						<p>
							讴业普惠客服 <span>17/08/24 18:27:36</span>
						</p>
						<div class="official-size">
							<a href="">
								<p>
									尊敬的讴业普惠用户：<br /> 您好！2017年8月20号下午18:50发标项目安如下：<br />
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
								</p>
							</a>
						</div>
						<div class="official-tubiao">
							<span class="haveseen-icon" title="浏览次数"><i>7</i></span> <span
								class="yan-icon" title="赞一个"><i>13</i></span>
						</div>
					</div></li>
				<li><a class="official-pic" href=""> <img
						src="/public/front/images/vue-pic.png" />
				</a>
					<div class="official-rg">
						<h2>
							<a href="">J868号陕惠房贷发标公告</a>
						</h2>
						<p>
							讴业普惠客服 <span>17/08/24 18:27:36</span>
						</p>
						<div class="official-size">
							<a href="">
								<p>
									尊敬的讴业普惠用户：<br /> 您好！2017年8月20号下午18:50发标项目安如下：<br />
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
								</p>
							</a>
						</div>
						<div class="official-tubiao">
							<span class="haveseen-icon" title="浏览次数"><i>7</i></span> <span
								class="yan-icon" title="赞一个"><i>13</i></span>
						</div>
					</div></li>
				<li><a class="official-pic" href=""> <img
						src="/public/front/images/vue-pic.png" />
				</a>
					<div class="official-rg">
						<h2>
							<a href="">J868号陕惠房贷发标公告</a>
						</h2>
						<p>
							讴业普惠客服 <span>17/08/24 18:27:36</span>
						</p>
						<div class="official-size">
							<a href="">
								<p>
									尊敬的讴业普惠用户：<br /> 您好！2017年8月20号下午18:50发标项目安如下：<br />
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
									巴萨很不收到收到十点半科大科技百度手机看空间 会计法电弧 四基地撒大声地九黄机场口直心快检查内部迒一获得吃点啥考察客户
								</p>
							</a>
						</div>
						<div class="official-tubiao">
							<span class="haveseen-icon" title="浏览次数"><i>7</i></span> <span
								class="yan-icon" title="赞一个"><i>13</i></span>
						</div>
					</div></li>
			</ul>
		</div>
		<!--二十一块-->
		<div class="evolution-box22">
			<h2 class="evolution-course">安全保障</h2>
			<p class="evolution-pic">
				<img src="/public/front/images/financial/cc1.png" />
			</p>
			<h3 class="capital-protection">
				<p>
					<span class="protection-size">资金保护</span> — 本息保障制度
				</p>
			</h3>
			<div class="center-protection">
				<div class="center-protection-lf">
					<img src="/public/front/images/financial/safe05.png" />
				</div>
				<div class="center-protection-rg">
					<h2 class="protection-title">借款逾期怎么办？</h2>
					<p class="protection-title-cen">合作机构为其推荐的每一笔借款提供100%连带责任担保，进行全额赔付。</p>
					<h2 class="protection-title">合作机构能否保证赔付？</h2>
					<p class="protection-title-cen">
						截至目前，合作机构逾期率不超过1%，其本身的收益能够覆盖风险。</p>
					<p class="protection-title-cen">
						合作机构本身的杠杆很低，与讴业普惠合作产生的收益同样可以覆盖风险。</p>
					<h2 class="protection-title">若合作机构无法赔付？？</h2>
					<p class="protection-title-cen">
						讴业普惠要求合作机构提供保证金，一旦合作机构无法代偿，讴业普惠会启动保证金进行代偿。</p>
					<p class="protection-title-cen">在银行开设保证金账户，确保资金安全。</p>
					<p class="protection-title-cen">
						若保证金也不能覆盖风险，借款合同仍然有效，讴业普惠会协助投资人通过法律程序解决违约问题。</p>
				</div>
			</div>
			<h3 class="capital-protection">
				<p>
					<span class="protection-size">项目审核 </span> — 双重审核7道工序
				</p>
			</h3>
			<div class="dsfs">
				<div class="audit-top">
					<h4 class="audit-top-title">合作机构第一次审核</h4>
					<p>实地考察：合作机构线下实地考察借款人</p>
					<p>资料审核：审核包括银行流水、征信报告等多种必备材料</p>
					<p>背景调查：借款人背景、联系人详尽调查</p>
					<p>还款能力：借款人还款能力压力测试</p>
				</div>
				<div class="audit-bottom">
					<h4 class="audit-top-title">讴业普惠第二重审核</h4>
					<p>借款资料：讴业普惠再次审核借款资料，以保证合作机构提供的借款真实可信</p>
					<p>FICO评分：借款人FICO评分，保证每笔借款都是优质的</p>
					<p>黑名单管理：借款人黑名单动态数据管理</p>
				</div>
				<img class="financial-pic" src="/public/front/images/financial/cc4.png" />
			</div>
			<h3 class="capital-protection">
				<p>
					<span class="protection-size">业务模式 </span> — 分散关键
				</p>
			</h3>
			<div class="center-protection">
				<div class="pattern">
					<img src="/public/front/images/financial/petite-pic.png" />
					<p>开创金融行业贷款额度控制之最，合作担保机构及讴业普惠保证金有充足能力对突发意外损失进行实时代偿</p>
				</div>
				<div class="pattern1">
					<p>借款方地域、行业、人群特征均非常分散</p>
					<img src="/public/front/images/financial/plan.png"/>
				</div>
				<div class="pattern">
					<img src="/public/front/images/financial/article-pic.png" />
					<p>一对多的交易机制，充分、有效分散风险</p>
				</div>
			</div>
		</div>
		<!--二十二块-->
		<div class="evolution-box23">
			<h2 class="evolution-course">荣誉资质</h2>
			<div class="intelligence">
				<ul class="intelligence-list">
					<li>
						<p class="aptitude1">
							<img src="/public/front/images/certificat-pic.png" />
						</p>
						<p>菲尔德投资有限公司</p>
						<p>营业执照</p>
					</li>
					<li>
						<p class="aptitude1">
							<img src="/public/front/images/groupe-pic.png" />
						<p>中国电子认证产业联盟</p>
						<p>互联网金融网站证书</p>
						</p>
					</li>
					<li>
						<p class="aptitude1">
							<img src="/public/front/images/compte-pic.png" />
						<p>开户许可证明</p>
						</p>
					</li>
					<li>
						<p class="aptitude1">
							<img src="/public/front/images/entreprise-pic.png" />
						<p>由CECA和WMIC颁发</p>
						<p>移动互联网优秀企业奖</p>
						</p>
					</li>
				</ul>
			</div>
		</div>
		<!--二十三块-->
		<div class="evolution-box24">
			<h2 class="evolution-course">新手指引</h2>
			<h3 class="title-size">一、什么是讴业普惠</h3>
			<div class="flow-pic">
				<img style="width: 709px; height: 315px; border: 1px solid red;"
					src="/public/front/images/guide/simple.png" />
				<p>讴业普惠是石家庄云阙网络科技有限公司倾力打造的互联网金融服务平台。 我们将始终秉持
					“诚信、透明、创新、共赢”的理念，为广大投资人和有融资需求 的企业或个人提供专业高
					效、安全可信的投融资咨询、交易撮合等金融信息中介服务。</p>
			</div>
			<h3 class="title-size">二、为什么选择讴业普惠</h3>
			<div class="advantage">
				<ul class="advantage-list">
					<li><img style="width: 140px; height: 100px; float: left;"
						src="/public/front/images/guide/bas-pic.png" />
						<div class="advantage-size">
							<p>
								100元起投，预期年化收益<br />率最高可达17%
							</p>
						</div></li>
					<li><img style="width: 140px; height: 100px; float: left;"
						src="/public/front/images/guide/tutelle.png" />
						<div class="advantage-size advantage-top">
							<p>
								第三方支付机构资金全托管，投资人资金<br />通过汇付天下直接进入借款人账户，<br />平台不接触投资人与借款人的资金
							</p>
						</div></li>
					<li><img style="width: 140px; height: 100px; float: left;"
						src="/public/front/images/guide/sain.png" />
						<div class="advantage-size">
							<p>第三方担保机构全额担保</p>
						</div></li>
					<li><img style="width: 140px; height: 100px; float: left;"
						src="/public/front/images/guide/strict1.png" />
						<div class="advantage-size advantage-top">
							<p>
								项目经银行级风控团队严格审核，通过筛<br />选优质项目、严格贷前审查、完善贷<br />后管理，多维度把控风险
							</p>
						</div></li>
					<li><img style="width: 140px; height: 100px; float: left;"
						src="/public/front/images/guide/diaphane-pic.png" />
						<div class="advantage-size">
							<p>
								借款人的审核资料在平台<br/>上进行公示
							</p>
						</div></li>
					<li><img style="width: 140px; height: 100px; float: left;"
						src="/public/front/images/guide/ddd.png" />
						<div class="advantage-size advantage-top">
							<p>
								平台建立了科学严谨的权限管理和数据备<br />份系统，并架设三层防火墙，确保<br />平台数据的安全性
							</p>
						</div></li>
					<li><img style="width: 140px; height: 100px; float: left;"
						src="/public/front/images/guide/cocher.png" />
						<div class="advantage-size">
							<p>
								15天-6个月不等，投资期<br />限短，收益高
							</p>
						</div></li>
				</ul>
			</div>
			<h3 class="title-size">三、理财产品有哪些</h3>
			<div class="product">
				<img style="float: left; margin-top: 10px;" src="/public/front/images/guide/home.png" />
				<div class="house-loan">
					<p class="tie-hou">【惠房贷】</p>
					<p class="tedain">有资金需求的借款人以自有房产进行抵押，具有风险低，周期长，收益高的特点</p>
					<p class="size-col">
						年化利率：<span class="size-col1 size-col2">12%-17%</span>
					</p>
					<p class="size-col">
						借款期限：<span class="size-col1 size-col2">1-6个月</span>
					</p>
					<p class="size-col">
						还款方式：<span class="size-col1 size-col2"> 按月还息</span><span
							class="size-col1 size-col2">到期还本</span><span class="size-col1">等额本息</span>
					</p>
				</div>
			</div>
			<div class="product">
				<img style="float: left; margin-top: 45px;" src="/public/front/images/guide/car.png" />
				<div class="house-loan">
					<p class="tie-hou">【惠车贷】</p>
					<p class="tedain">有资金需求的借款人以自有房产进行抵押，具有风险低，周期长，收益高的特点</p>
					<p class="size-col">
						年化利率：<span class="size-col1 size-col2">12%-17%</span>
					</p>
					<p class="size-col">
						借款期限：<span class="size-col1 size-col2">1-6个月</span>
					</p>
					<p class="size-col">
						还款方式：<span class="size-col1 size-col2"> 按月还息</span><span
							class="size-col1 size-col2">到期还本</span><span class="size-col1">等额本息</span>
					</p>
				</div>
			</div>
			<h3 class="title-size">四、投资流程是什么</h3>
			<ul class="tubiao-pic">
				<li><img src="/public/front/images/guide/1.png" /></li>
				<li><img src="/public/front/images/guide/2.png" /></li>
				<li><img src="/public/front/images/guide/3.png" /></li>
				<li><img src="/public/front/images/guide/4.png" /></li>
				<li><img src="/public/front/images/guide/5.png" /></li>
			</ul>
			<div class="line12">
				<span>1</span> <span>2</span> <span>3</span> <span>4</span> <span>5</span>
			</div>
			<div class="line123">
				<span>用户注册</span> <span>实名认证</span> <span>充值</span> <span>投资</span>
				<span>获得收益</span>
			</div>
			<div class="character">
				<p>第一步：注册讴业普惠账户，并设置第三方支付平台汇付支付账户；</p>
				<p>第二步：填写身份信息，进行实名认证，确保资金安全；</p>
				<p>第三步：绑定银行卡，进行第三方托管充值，即将资金充值到汇付支付帐户；</p>
				<p>第四步：自主投资，期限灵活，预期年化收益率在12%-17%；</p>
				<p>第五步：到期提现到银行卡，轻松获取收益。</p>
			</div>
		</div>
		<!--二十四-->
		<div class="evolution-box25">
			<h2 class="evolution-course">联系我们</h2>
			<div class="detail-box">
				<p class="detail-pic">
					<img src="/public/front/images/wo.png" />
				</p>
				<div class="center-detail">
					<div class="center-detail-lf">
						<ul class="detail-list">
							<li>
								<p class="detail-text">石家庄菲尔德投资咨询有限公司</p>
							</li>
							<li><img class="detail-img" src="/public/front/images/fd2.png" /><span
								class="detail-span">400-901-8889</span></li>
							<li><img class="detail-img detail-img1"
								src="/public/front/images/fd3.png"><span class="detail-span1">yunque@ouyepuhui.com</span>
							</li>
							<li><img class="detail-img" src="/public/front/images/fd1.png" ><span
								class="detail-span2">河北省石家庄新华区民族路77号<br />华强广场A座1605
							</span></li>
						</ul>
					</div>
					<div class="center-detail-rg">
						<div
							style="width: 570px; height: 300px; border: #ccc solid 1px; font-size: 12px"
							id="map"></div>
					</div>
				</div>
			</div>
		</div>
		<!--二十五-->
		<div class="evolution-box26">
			<h2 class="evolution-course">金融知识</h2>
			<div class="knowledge">
				<h3 class="knowledge-tit">1、资金安全如何保障？</h3>
				<p class="knowledge-size">所有资金操作均在第三方支付平台的账户中进行。满标后，投资资金直接转入到借款人的账户。</p>
				<h3 class="knowledge-tit">2、投资术语？</h3>
				<p class="knowledge-size">
					<span>待收本金</span> <span class="knowledge-tit1">指投资人实际投资的额度。</span>
				</p>
				<p class="knowledge-size">
					<span>待收本金</span> <span class="knowledge-tit1">是讴业普惠为用户推出的增值功能。当账户中有可用金额的时候，系统会自动投资客户提<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 前设置的投资产品，避免资金闲置
					</span>
				</p>
				<h3 class="knowledge-tit">3、讴业普惠是做什么的？</h3>
				<p class="knowledge-size">
					<span class="knowledge-tit2">
						讴业普惠隶属于石家庄云阙网络科技有限公司，是专注于互联网金融服务的专业平台。是提供借款人
						与出借人的专业网络信息服务平台，平台服务双方为出借人和借款人，坚持平台身份，线上对接有投
						资需求的广大投资者、线下由合作的专业公司或小贷公司推荐借款客户，讴业普惠不介入交易本身，
						而是建立一个信息提供、交易摄合的创新信任平台。 </span>
				</p>
				<h3 class="knowledge-tit">4、讴业普惠合法吗？</h3>
				<p class="knowledge-size knowledge-tit2">（1）讴业普惠是工商局批准的正规企业</p>
				<p class="knowledge-size knowledge-tit2">（2）p2p网络平台
					归属银监会管理，是受国家金融管理机构认可的服务范围。</p>
				<p class="knowledge-size knowledge-tit2">（3）讴业普惠严格遵守央行对p2p行业政策红线；平爱本身不提供担保，不归集资金高资金池，不非法吸收公众存款，更不实施集资诈骗。我们是利用先进的网络技术手段降低金融服务成本，改善服务效率，提高金融服务的覆盖面。</p>
				<h3 class="knowledge-tit">5、p2p理财是什么？</h3>
				<p class="knowledge-size knowledge-tit2">p2p理财是指个人与个人之间的借贷，而p2p理财是指以公司为中介机构，把借贷双方对接起来的实现各自的借贷需求。借款方可以是无抵押贷款或是有抵押贷款，而中级一般是收取双方或单方的手续费为盈利目的或者是赚取一定息差为盈利目的的新型理财模式。</p>
				<p class="knowledge-size knowledge-tit2">市场p2p理财公司众多，产品各不差异，收益率也不一样，建议投资者在选择产品是能理性的、谨慎的选择一款适合自己的产品。同时，在选择p2p公司时一定要多走动，多调查，选择有正规资质，规模较大，信誉好的公司进行办理业务，这样可以保障投资者资金的安全。同时，一些有品牌背景支持的平台是不错的选择，UI后选择不懂产抵押类的p2p理财产品风险相对来说要小一些。</p>
				<p class="knowledge-size knowledge-tit2">业务模式：</p>
				<p class="knowledge-size knowledge-tit2">（1）纯线上模式，是纯粹的p2p,在这种平台模式上纯粹进行信息匹配，帮助资金借贷双方更好的进行资金匹配，但缺点明显，这种线上模式并不参与担保；</p>
				<p class="knowledge-size knowledge-tit2">（2）线上线下模式（O2O）,线下p2p模式是指线上模式借贷流程
					中的审核、贷款发放等流程放在线下进行，线下模式审核和银行贷款审核方式无二，一般需要抵押物，募集资金由线上模式平台自主支配，贷给借款人，目前大多数p2p理财平台其实都是线下模式。线上p2p模式，是纯线上纯信用的网络借贷，贷款申请，投标风险审核，贷款发放都在线上进行。企业只是提供一个双方撮合的平台。</p>
				<p class="knowledge-size knowledge-tit2">（3）债权转让模式，平台本身先行放贷，再将债权放到平台进行转让，很明显能让企业提高融资端的工作效率，但容易出现债权不足，不能让资金充分发挥效益；</p>
				<p class="knowledge-size knowledge-tit2">（4）本金担保模式，提供本金甚至利用利息担保的p2p模式，种模式是金融市场的而主流模式，本金担保的p2p模式实质是间接接触资金的概念。</p>
			</div>
		</div>
		<!--二十六-->
		<div class="evolution-box27">
			<h2 class="evolution-course">借款专题</h2>
			<div class="knowledge">
				<h3 class="knowledge-tit">1、被拒贷或流标的原因是什么？</h3>
				<p class="knowledge-size">可能的原因有：</p>
				<p class="knowledge-size">1.您的年龄暂时不符合借款要求（22~55周岁）</p>
				<p class="knowledge-size">2. 您本人不符合申请人身份条件。</p>
				<p class="knowledge-size">3. 您的工作年限或经营时间不符合申请条件。</p>
				<p class="knowledge-size">4. 您的企业或网店不符合申请条件。</p>
				<p class="knowledge-size">5. 您的月收入或月交易额不符合申请条件。</p>
				<p class="knowledge-size">6. 您在审核过程中未配合完成补充资料或信息核实工作，或您主动放弃申请。</p>
				<p class="knowledge-size">7.
					审核人员对您的身份信息、工作信息、信用记录、还款能力等进行审核后认为您目前综合评分不足，暂时不符合借款要求。</p>
				<h3 class="knowledge-tit">2、如何联系审核人员？</h3>
				<p class="knowledge-size">您无需主动联系审核员，审核员在需要时会主动联系您。如遇特殊情况时，客户经理将致电与您沟通，您也可以联系客服寻求帮助</p>
				<h3 class="knowledge-tit">3、提交认证资料后何时开始审核？ 时间多久？</h3>
				<p class="knowledge-size">我们将在您点击【提交申请】后，确认您的必要认证资料已上传齐全，才会为您提交审核。您的借款申请将于3个工作日内为您审核完成。</p>
				<h3 class="knowledge-tit">4、在规定期限内项目未满标怎么办？</h3>
				<p class="knowledge-size">出借人的投标金额会自动返还到出借人的账户内，借款人可以重新向平台发起借款申请。</p>
				<h3 class="knowledge-tit">5、借款后生成合同是几方合同？</h3>
				<p class="knowledge-size">投资人成功借款后，系统会自动生成借款合同，为双方合同。甲方为借款人，乙方为出借人，平台作为信息中介平台只能在合同中标准为居间方。</p>
			</div>
		</div>
		<!--二十七-->
		<div class="evolution-box28">
			<h2 class="evolution-course">理财专题</h2>
			<div class="knowledge">
				<h3 class="knowledge-tit">1、投标欧是否可以取消？</h3>
				<p class="knowledge-size">投标后不允许取消。满标后，您所投资的资金将自动转入借款人账户。</p>
				<h3 class="knowledge-tit">2、如何找回登录密码？</h3>
				<p class="knowledge-size">在平台登录页面点击【忘记密码，点此找回】，系统自动跳转至新页面，输入当前帐号所绑定的手机号码，点击【提交】，获取验证码输入并提交，即可重新设置新的登录密码</p>
				<h3 class="knowledge-tit">3、手机号为什么要绑定？</h3>
				<p class="knowledge-size">绑定手机以后，手机号码也可以作为用户名进行登录和接收投资相关信息反馈的帐号，而且可以提高账户的安全级别。</p>
				<h3 class="knowledge-tit">4、实名认证后还能修改吗？</h3>
				<p class="knowledge-size">为保证账号的安全性，实名认证成功后，不能再修改姓名和身份证信息。</p>
				<h3 class="knowledge-tit">5、如何进行实名认证？</h3>
				<p class="knowledge-size">实名认证是对姓名和身份证号码进行认证。登录账号以后，会自动进入实名认证页面，
					根据页面提示信息，输入真实的姓名和证件号码，点击【确定】，系统会自动审核，如不成功，需核实您的姓名和身份证号码是否一致。</p>
				<h3 class="knowledge-tit">6、为什么要进行实名认证？</h3>
				<p class="knowledge-size">为保障资金的安全性和合同的有效性，平台要求所有出借人及借款人必须通过身份认证、手机绑定以及交易密码设置。安全认证的过程简单便捷，平台承诺对所有个人资料均作严格保密。</p>
				<h3 class="knowledge-tit">7、收不到验证码怎么办？</h3>
				<p class="knowledge-size">确认手机没有安装拦截软件导致误拦截。确认手机不欠费能正常通信。确认手机信号良好。拨打平台服务热线。</p>
				<h3 class="knowledge-tit">8、如何对账户充值？</h3>
				<p class="knowledge-size">登录讴业普惠账号后，点击【充值】会跳转到支付方式选择页面：1）直接选择银行，输入充值金额，点击【确定】，跳转到银行的支付页面，输入银行卡账号及密码，即可完成充值。2）选择第三方支付方式，输入充值金额，点击【确定】，跳转到银行选择页面，选择银行，点击【确定】，跳转到银行的支付页面，输入银行卡账号及密码，即可完成充值。</p>
			</div>
		</div>
	</div>
</div>

<!--左边导航栏-->



<!--底部-->
<div class="foot-location">
	<p class="foot-location1">
		2014-2017 &nbsp; 版权所有 &nbsp; ©2016 讴业普惠 All rights resered &nbsp; <span>冀ICP备17012676号</span>
		&nbsp; 地址：石家庄市新华区名族路华强中心A座1605室
	</p>
	<p class="foot-location2">石家庄菲尔德投资咨询有限公司</p>
</div>
<!--底部-->
<script type="text/javascript">
		function ioio(){
			window.location.href="@{front.FrontHomeCtrl.sainPre()}";
		};
		
</script>
<script type="text/javascript">
			var tt = null;
			var kkk;
			var n = 0;
			var timer = 0;
			window.onload = function() {
				var li = document.getElementById("btn").getElementsByTagName("li");
				kkk = document.getElementById("imm").getElementsByTagName("a");
				for (var i = 0; i < kkk.length; i++) {
					if (i != 0) {
						kkk[i].style.opacity = 0;
					}
				}
				for (var j = 0; j < li.length; j++) {
					li[j].onmouseover = function() {
						var that = this;
						tt = setTimeout(function() {
							var index = that.innerHTML - 1;
							n = index;
							if (index < kkk.length) {
								for (var o = 0; o < li.length; o++) {
									li[o].className = "";
									kkk[o].style.opacity = 0;
									kkk[o].style.zIndex = 9998;
								}
								that.className = "on";
								kkk[index].style.opacity = 1;
								kkk[index].style.zIndex = 9999;
								kkk[index].style.transition = "opacity 0.8s";
								leftf(-10, 0, kkk[index]);
							}
						}, 100);
					};
					li[j].onmouseout = function() {
						clearTimeout(tt)
					}
				}
				var left = document.getElementById("left");
				var right = document.getElementById("right");
				var jiao = document.getElementById("jiao");
				var body = document.getElementById("cont");
				//	timer = setInterval("autoplay()",2000);
				body.onmouseover = function() {
					jiao.style.display = "block";
					clearInterval(timer);
				};
				body.onmouseout = function() {
					jiao.style.display = "none";
					//		timer = setInterval("autoplay()",2000);
				};
				left.onclick = function() {
					if (n > 0) {
						n--
					} else if (n == 0) {
						n = kkk.length - 1;
					}
					var li = document.getElementById("btn").getElementsByTagName("li");
					li[n].onmouseover()
				};
				right.onclick = function() {
					n = n >= (kkk.length - 1) ? 0 : ++n;
					var li = document.getElementById("btn").getElementsByTagName("li");
					li[n].onmouseover()
				}
			}
			;

			function leftf(start, end, ele) {
				var tt = setInterval(function() {
					start += 10;
					ele.style.left = start + "px";
					if (start == end) {
						clearInterval(tt)
					}
				}, 20)
			}

			function autoplay() {
				n = n >= (kkk.length - 1) ? 0 : ++n;
				var li = document.getElementById("btn").getElementsByTagName("li");
				li[n].onmouseover()
			};
			$(".selected").click(function() {
				$("#cont").show();
				$(".lii").show();
			});
			$("#tp1").click(function() {
				$("#cont").hide();
				$(".lii").hide();
			});
		</script>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
      createMap();//创建地图
      setMapEvent();//设置地图事件
      addMapControl();//向地图添加控件
      addMapOverlay();//向地图添加覆盖物
    }
    function createMap(){ 
      map = new BMap.Map("map"); 
      map.centerAndZoom(new BMap.Point(114.488521,38.051323),18);
    }
    function setMapEvent(){
      map.enableScrollWheelZoom();
      map.enableKeyboard();
      map.enableDragging();
      map.enableDoubleClickZoom()
    }
    function addClickHandler(target,window){
      target.addEventListener("click",function(){
        target.openInfoWindow(window);
      });
    }
    function addMapOverlay(){
      var markers = [
        {content:"我的备注",title:"石家庄菲尔德投资咨询有限公司",imageOffset: {width:0,height:3},position:{lat:38.051369,lng:114.487659}}
      ];
      for(var index = 0; index < markers.length; index++ ){
        var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
        var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
          imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
        })});
        var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
        var opts = {
          width: 200,
          title: markers[index].title,
          enableMessage: false
        };
        var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
        marker.setLabel(label);
        addClickHandler(marker,infoWindow);
        map.addOverlay(marker);
      };
      var labels = [
      ];
      for(var index = 0; index < labels.length; index++){
        var opt = { position: new BMap.Point(labels[index].position.lng,labels[index].position.lat )};
        var label = new BMap.Label(labels[index].content,opt);
        map.addOverlay(label);
      };
    }
    //向地图添加控件
    function addMapControl(){
      var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
      scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
      map.addControl(scaleControl);
      var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
      map.addControl(navControl);
      var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
      map.addControl(overviewControl);
    }
    var map;
      initMap();
  </script>