<div class="evolution-box">
			<h2 class="evolution-course">荣誉资质</h2>
			<div class="intelligence">
				<ul class="intelligence-list">
					<li>
						<p class="aptitude1">
							<img src="https://image.ouyepuhui.com/images/certificat-pic.png" />
						</p>
						<p>菲尔德投资有限公司</p>
						<p>营业执照</p>
					</li>
					
					
					
					
					<li>
						<p class="aptitude1">
							<img style="width: 244px;height: 328px;" src="https://image.ouyepuhui.com/images/brand.png" />
						<p>商标注册证</p>
						</p>
					</li>
					<li>
						<p class="aptitude1">
							<img style="margin-top: 65px;" src="https://image.ouyepuhui.com/images/teamwork.png" />
						<p>河北省人大常委会</p>
						<p>公民与法治杂志社</p>
						<p>协办合作单位</p>
						</p>
					</li>
					<li>
						<p class="aptitude1">
							<img style="margin-top: 70px;" src="https://image.ouyepuhui.com/images/compte-pic.png" />
						<p>开户许可证明</p>
						</p>
					</li>
					
					
					<li>
						<p class="aptitude1">
							<img style="margin-top: 65px;" src="https://image.ouyepuhui.com/images/monad.png" />
						<p>河北省诚信文化促进社</p>
						<p>副会长单位</p>
						</p>
					</li>
					<li>
						<p class="aptitude1">
							<img style="margin-top: 65px;" src="https://image.ouyepuhui.com/images/amity.png" />
						<p>中共河北省委党史研究室颁发</p>
						<p>友好协办单位</p>
						</p>
					</li>
					<li>
						<p class="aptitude1">
							<img style="width: 244px;height: 328px;" src="https://image.ouyepuhui.com/images/copyright.png" />
						<p>著作权</p>
						</p>
					</li>
				</ul>
			</div>
		</div>