<link rel="stylesheet" type="text/css" href="@{'/public/front/stylesheets/risk.css'}" />
<script type="text/javascript" src="/public/front/javascripts/jquery-1.8.3.min.js"></script>
<div style="width: 1200px;padding: 20px;" class="contentnav">
    <div class="page_title">平台注册用户风险评估调查问卷</div>
    <div class="dcwj">
		
			<p>1、您的年龄？</p>
			<label><input name="Sex1" type="radio" value="1" />A：18-30岁</label><br />
			<label><input name="Sex1" type="radio" value="2" />B：高于60岁</label><br />
			<label><input name="Sex1" type="radio" value="3" />C：51-60</label><br />
			<label><input name="Sex1" type="radio" value="4" />D：31-50</label><br />

			<p>2、您的学历：</p>
			<label><input name="Sex2" type="radio" value="1" />A：高中以下</label><br />
			<label><input name="Sex2" type="radio" value="2" />B：专科</label><br />
			<label><input name="Sex2" type="radio" value="3" />C：本科</label><br />
			<label><input name="Sex2" type="radio" value="4" />D：研究生或研究生以上</label><br />

			<p>3、您目前的职业：</p>
			<label><input name="Sex3" type="radio" value="1" />A：待业或退休</label><br />
			<label><input name="Sex3" type="radio" value="2" />B：无固定工资</label><br />
			<label><input name="Sex3" type="radio" value="3" />C：企事业单位固定工资</label><br />
			<label><input name="Sex3" type="radio" value="4" />D：私营业主</label><br />

			<p>4、您的家庭年收入折合人民币为？</p>
			<label><input name="Sex4" type="radio" value="1" />A：5万元以下</label><br />
			<label><input name="Sex4" type="radio" value="2" />B：5-10万元</label><br />
			<label><input name="Sex4" type="radio" value="3" />C：10-20万元</label><br />
			<label><input name="Sex4" type="radio" value="4" />D：20万以上</label><br />

			<p>5、在您每年的家庭收入中，可用于金融投资（储蓄存款除外）的比例为？</p>
			<label><input name="Sex5" type="radio" value="1" />A：小于10%</label><br />
			<label><input name="Sex5" type="radio" value="2" />B：10%至25%</label><br />
			<label><input name="Sex5" type="radio" value="3" />C：25%至50%</label><br />
			<label><input name="Sex5" type="radio" value="4" />D：大于50%</label><br />

			<p>6、您进行投资的主要目的是：</p>
			<label><input name="Sex6" type="radio" value="1" />A：确保资产的安全行，同时获得固定收益</label><br />
			<label><input name="Sex6" type="radio" value="2" />B：希望投资能获得一定的增值，同时获得波动适度的汇报</label><br />
			<label><input name="Sex6" type="radio" value="3" />C：倾向于长期的成长，较少关心短期的回报和波动</label><br />
			<label><input name="Sex6" type="radio" value="4" />D：只关心长期的高回报，能够接受短期的资产价值波动</label><br />

			<p>7、您的投资知识：</p>
			<label><input name="Sex7" type="radio" value="1" />A：缺乏投资基本常识</label><br />
			<label><input name="Sex7" type="radio" value="2" />B：略有了解，但不懂投资技巧</label><br />
			<label><input name="Sex7" type="radio" value="3" />C：有一定了解，懂一些的投资技巧</label><br />
			<label><input name="Sex7" type="radio" value="4" />D：认识充分，并懂得投资技巧</label><br />

			<p>8、您以往的投资以什么产品为主？</p>
			<label><input name="Sex8" type="radio" value="1" />A：存款</label><br />
			<label><input name="Sex8" type="radio" value="2" />B：债券、偏债型基金</label><br />
			<label><input name="Sex8" type="radio" value="3" />C：股票、偏股型基金</label><br />
			<label><input name="Sex8" type="radio" value="4" />D：金融衍生品（如期货，外汇等）、私募股权投资</label><br />

			<p>9、您有多少年投资股票、基金、外汇、期货、金融衍生产品等风险投资品的经验（投资经历越长，您的风险承受能力越强）？</p>
			<label><input name="Sex9" type="radio" value="1" />A：没有经验</label><br />
			<label><input name="Sex9" type="radio" value="2" />B：少于2年</label><br />
			<label><input name="Sex9" type="radio" value="3" />C：2至5年</label><br />
			<label><input name="Sex9" type="radio" value="4" />D：5至8年</label><br />

			<p>10、以下哪项描述最符合您的投资态度（高收益意味着要承担高风险）？</p>
			<label><input name="Sex10" type="radio" value="1" />A：厌恶风险，不希望本金损失，希望获得稳定回报 </label><br />
			<label><input name="Sex10" type="radio" value="2" />B：保守投资，不希望本金损失，愿意承担一定幅度的收益波动</label><br />
			<label><input name="Sex10" type="radio" value="3" />C：寻求资金的较高收益和成长性，愿意为此承担有限本金损失</label><br />
			<label><input name="Sex10" type="radio" value="4" />D：希望赚取高回报，愿意为此承担较大本金损失</label><br />

			<p>11、您如何看待投资亏损：</p>
			<label><input name="Sex11" type="radio" value="1" />A：很难接受，影响正常的生活</label><br />
			<label><input name="Sex11" type="radio" value="2" />B：受到一定的影响，但不影响正常生活</label><br />
			<label><input name="Sex11" type="radio" value="3" />C：平常心看待，对情绪没有明显的影响</label><br />
			<label><input name="Sex11" type="radio" value="4" />D：很正常，投资有风险，没有人只赚不赔</label><br />

			<p>12、您计划的投资期限是多久？</p>
			<label><input name="Sex12" type="radio" value="1" />A：1年以下</label><br />
			<label><input name="Sex12" type="radio" value="2" />B：1—3年</label><br />
			<label><input name="Sex12" type="radio" value="3" />C：3—5年</label><br />
			<label><input name="Sex12" type="radio" value="4" />D：5年以上</label><br />

			<p>13、您的投资目的是？</p>
			<label><input name="Sex13" type="radio" value="1" />A：资产保值</label><br />
			<label><input name="Sex13" type="radio" value="2" />B：高于同期存款</label><br />
			<label><input name="Sex13" type="radio" value="3" />C：资产稳健增长</label><br />
			<label><input name="Sex13" type="radio" value="4" />D：资产迅速增长</label><br />

			<p>14、您进行投资时所能承受的最大亏损比例是：</p>
			<label><input name="Sex14" type="radio" value="1" />A：10%以内</label><br />
			<label><input name="Sex14" type="radio" value="2" />B：10-30%</label><br />
			<label><input name="Sex14" type="radio" value="3" />C：30-50%</label><br />
			<label><input name="Sex14" type="radio" value="4" />D：50%以上</label><br />

			<p>15、您期望的投资的收益率：</p>
			<label><input name="Sex15" type="radio" value="1" />A：高于同期定期存款 </label><br />
			<label><input name="Sex15" type="radio" value="2" />B：10%左右，要求相对风险较低 </label><br />
			<label><input name="Sex15" type="radio" value="3" />C：10-20%，可承受中等风险</label><br />
			<label><input name="Sex15" type="radio" value="4" />D：20%以上，可承担较高风险</label><br />

			<p>16、您是否曾经投资过非保本金融投资产品并且熟悉互联网？</p>
			<label><input name="Sex16" type="radio" value="1" />A：否，不熟悉互联网</label><br />
			<label><input name="Sex16" type="radio" value="2" />B：否，熟悉互联网</label><br />
			<label><input name="Sex16" type="radio" value="3" />C：是，但不熟悉互联网</label><br />
			<label><input name="Sex16" type="radio" value="4" />D：是，也熟悉互联网 </label><br />
			#{if currUser}
			<input class="CPSubmit" type="button" value="马上提交" id ="CPSubmit">
			#{/if}
			#{else}
			<input class="CPSubmit" type="button" value="马上提交" onclick="alert('请登录！')">
			#{/else}
			
		
		
	</div>
</div>
<div style="width: 1200px;padding: 50px;margin: auto;">

<p>您的回答给予了我们很大的帮助，再次表示衷心的感谢！</p>
<p>积分标准 A = 1分；B = 2分；C = 3分；D = 4 分；</p>
<p>参考计分标准您的测试评分：<br/>风险等级判断下表是根据您对上述问题回答的总分，借此评估您在面对风险时所持有的一般态度。</p>


</div>

<script type="text/javascript">   
$('#CPSubmit').click(function(){
	var Sex1=$('input[name="Sex1"]:checked').val()
	var Sex2=$('input[name="Sex2"]:checked').val()
	var Sex3=$('input[name="Sex3"]:checked').val()
	var Sex4=$('input[name="Sex4"]:checked').val()
	var Sex5=$('input[name="Sex5"]:checked').val()
	var Sex6=$('input[name="Sex6"]:checked').val()
	var Sex7=$('input[name="Sex7"]:checked').val()
	var Sex8=$('input[name="Sex8"]:checked').val()
	var Sex9=$('input[name="Sex9"]:checked').val()
	var Sex10=$('input[name="Sex10"]:checked').val()
	var Sex11=$('input[name="Sex11"]:checked').val()
	var Sex12=$('input[name="Sex12"]:checked').val()
	var Sex13=$('input[name="Sex13"]:checked').val()
	var Sex14=$('input[name="Sex14"]:checked').val()
	var Sex15=$('input[name="Sex15"]:checked').val()
	var Sex16=$('input[name="Sex16"]:checked').val()
	var ale;
			$.ajax({
				url: "@{front.FrontHomeCtrl.risqueEvaluation()}",
		           type: "POST", 
		           data:{
		        	   "Sex1":Sex1,
		        	   "Sex2":Sex2,
		        	   "Sex3":Sex3,
		        	   "Sex4":Sex4,
		        	   "Sex5":Sex5,
		        	   "Sex6":Sex6,
		        	   "Sex7":Sex7,
		        	   "Sex8":Sex8,
		        	   "Sex9":Sex9,
		        	   "Sex10":Sex10,
		        	   "Sex11":Sex11,
		        	   "Sex12":Sex12,
		        	   "Sex13":Sex13,
		        	   "Sex14":Sex14,
		        	   "Sex15":Sex15,
		        	   "Sex16":Sex16,
		           },
		           success: function(result){
		        	   alert(result.res)
		        	  if(result.grade>0){
		        		  window.location.href='@{front.LoginAndRegisteCtrl.registerSuccessPre()}'
		        	  }
		          },
		    });
})

</script>