 #{extends 'common/frontMain.html' /} #{set title: '首页'/} #{set AItem:5/}
 <link rel="stylesheet" type="text/css" href="/public/front/stylesheets/sain.css"/>
<div class="garantie"></div>
 <div class="simple">
    <span><img src="/public/front/images/simple.png"/></span>
    <p>讴业始终以风控为发展基石，推动业务拓展、大数据分析和精细化管理的规范化建设；以合规管理为保险屏障，推进业务结构优化创新，营销提升。面对行业竞争<br>
	加剧、发展风险与压力加重的客观形势，集团在决策管理上，突出“控奉献、重稳健、求发展”的层次把控；在执行力建设上，积极调整战略，打造高精风控团队，<br>
	从而确保集团持续稳健发展。</p>
 </div> 
 <div class="dessin">
    <div class="index-btm1">
		
		<div>
			<ul class="index-services1">
				<li><img class="service-img1" src="/public/front/images/xiaoxi/one1.png"
					width="352" height="313" />
					<div class="services-ewm1">
						<img src="https://image.ouyepuhui.com/images/onefan.png" width="352"height="313" />							
					</div>
				</li>
				<li><img class="service-img1" src="/public/front/images/xiaoxi/two2.png"
					width="352" height="313" />
					<div class="services-ewm1">
						<img src="https://image.ouyepuhui.com/images/twofan.png" width="352"height="313" />
					</div>
				</li>
				<li><img class="service-img1" src="/public/front/images/xiaoxi/three3.png"
					width="352" height="313" />
					<div class="services-ewm1">
						<img src="https://image.ouyepuhui.com/images/threefan.png" width="352"height="313" />
					</div>
				</li>
				<li><img class="service-img1" src="/public/front/images/xiaoxi/six6.png"
					width="352" height="313" />
					<div class="services-ewm1">
						<img src="https://image.ouyepuhui.com/images/sixfan.png" width="352"height="313" />
					</div>
				</li>
				
				<li><img class="service-img1" src="/public/front/images/xiaoxi/five5.png"
					width="352" height="313"/>
					<div class="services-ewm1">
						<img src="https://image.ouyepuhui.com/images/fivefan.png" width="352"height="313" />
					</div>
				</li>
				<li><img class="service-img1" src="/public/front/images/xiaoxi/four4.png"
					width="352" height="313" />
					<div class="services-ewm1">
						<img src="https://image.ouyepuhui.com/images/fourfan.png" width="352"height="313" />
					</div>
				</li>
				<li><img class="service-img1" src="/public/front/images/xiaoxi/seven7.png"
					width="352" height="313"/>
					<div class="services-ewm1">
						<img src="https://image.ouyepuhui.com/images/sevenfan.png" width="352"height="313" />
					</div>
				</li>
				<li><img class="service-img1" src="/public/front/images/xiaoxi/eight8.png"
					width="352" height="313"/>
					<div class="services-ewm1">
						<img src="https://image.ouyepuhui.com/images/eightfan.png" width="352"height="313" />
					</div>
				</li>
				<li><img class="service-img1" src="/public/front/images/xiaoxi/nine9.png"
					width="352" height="313"/>
					<div class="services-ewm1">
						<img src="https://image.ouyepuhui.com/images/ninefan.png" width="352"height="313" />
					</div>
				</li>
			</ul>
		</div>
	</div>
 </div>
<div class="capitaux">
    <div class="simple1">
	    <span><img src="/public/front/images/xiaoxi/capitaux.png" /></span>
	</div> 
    <ul class="capitauxList">
      <li class="exploiter">  
      </li>
      <li class="niveau"></li>
      <li class="chiffrementChiffrement"></li>
      <li class="controle"></li>
    </ul>
</div>
<div class="diriger">
   <div class="simple1 diriger-top">
	 <span><img src="/public/front/images/xiaoxi/dirige.png" /></span>
   </div> 
</div>
<div class="reporting">
   <div class="reportingCenter">
       <div class="reportingBox">
          <img src="/public/front/images/reporting.png"/>
       </div>
       <div class="reportingLeft">
          <p class="reporting-pic">
            <img src="/public/front/images/reporting-pic.png"/>
          </p>
          <p class="reportingText">
                                 中国人民银行直属单位，建立信用信息数据库，提供个人信用信息报告 
          </p>
       </div>
   </div>
</div>
<div class="diriger lien"></div>
<div class="reporting">
   <div class="reportingCenter">
       
       <div class="reportingLeft reportingLeft1">
          <p class="reporting-pic">
            <img src="/public/front/images/information.png" />
          </p>
          <p class="reportingText">
                                 借助各地工商网络可查询借款人商业经营、纳税、守法等情况信息
          </p>
       </div>
       <div class="reportingBox">
          <img src="/public/front/images/Industry.png"/>
       </div>
   </div>
</div>
<div class="diriger lien"></div>
<div class="reporting lien1">
   <div class="reportingCenter">
       
        <div class="reportingBox">
          <img src="/public/front/images/detection.png"/>
       </div>
       <div class="reportingLeft">
          <p class="reporting-pic">
            <img src="/public/front/images/supervise.png"/>
          </p>
          <p class="reportingText">
                                 网贷监管会在平台24小时运行，时刻检测平台的违规行为
          </p>
       </div>
   </div>
</div>
