<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="/public/app/css/front.css" type="text/css"/>
		<link rel="stylesheet" href="/public/app/css/publishIndex.css" type="text/css"/>
		<title>审核信息</title>
	</head>
	<body>
		<div class="content">
			<h1>审核信息</h1>
			<div class="main">
				<span class="inTitle">律所合规报告</span>
				<div class="img">
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%BE%8B%E6%89%80%E5%90%88%E8%A7%84%E6%8A%A5%E5%91%8A/0.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%BE%8B%E6%89%80%E5%90%88%E8%A7%84%E6%8A%A5%E5%91%8A/1.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%BE%8B%E6%89%80%E5%90%88%E8%A7%84%E6%8A%A5%E5%91%8A/2.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%BE%8B%E6%89%80%E5%90%88%E8%A7%84%E6%8A%A5%E5%91%8A/3.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%BE%8B%E6%89%80%E5%90%88%E8%A7%84%E6%8A%A5%E5%91%8A/4.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%BE%8B%E6%89%80%E5%90%88%E8%A7%84%E6%8A%A5%E5%91%8A/5.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%BE%8B%E6%89%80%E5%90%88%E8%A7%84%E6%8A%A5%E5%91%8A/6.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%BE%8B%E6%89%80%E5%90%88%E8%A7%84%E6%8A%A5%E5%91%8A/7.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%BE%8B%E6%89%80%E5%90%88%E8%A7%84%E6%8A%A5%E5%91%8A/8.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%BE%8B%E6%89%80%E5%90%88%E8%A7%84%E6%8A%A5%E5%91%8A/9.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%BE%8B%E6%89%80%E5%90%88%E8%A7%84%E6%8A%A5%E5%91%8A/10.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%BE%8B%E6%89%80%E5%90%88%E8%A7%84%E6%8A%A5%E5%91%8A/11.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%BE%8B%E6%89%80%E5%90%88%E8%A7%84%E6%8A%A5%E5%91%8A/12.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%BE%8B%E6%89%80%E5%90%88%E8%A7%84%E6%8A%A5%E5%91%8A/13.jpg" />
				</div>
				<span class="inTitle">上一年度财务审计报告</span>
				<div class="img">
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%B9%B4%E5%BA%A6%E5%AE%A1%E8%AE%A1%E6%8A%A5%E5%91%8A/1.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%B9%B4%E5%BA%A6%E5%AE%A1%E8%AE%A1%E6%8A%A5%E5%91%8A/2.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%B9%B4%E5%BA%A6%E5%AE%A1%E8%AE%A1%E6%8A%A5%E5%91%8A/3.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%B9%B4%E5%BA%A6%E5%AE%A1%E8%AE%A1%E6%8A%A5%E5%91%8A/4.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%B9%B4%E5%BA%A6%E5%AE%A1%E8%AE%A1%E6%8A%A5%E5%91%8A/5.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%B9%B4%E5%BA%A6%E5%AE%A1%E8%AE%A1%E6%8A%A5%E5%91%8A/6.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%B9%B4%E5%BA%A6%E5%AE%A1%E8%AE%A1%E6%8A%A5%E5%91%8A/7.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%B9%B4%E5%BA%A6%E5%AE%A1%E8%AE%A1%E6%8A%A5%E5%91%8A/8.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E6%A0%B8%E4%BF%A1%E6%81%AF/%E5%B9%B4%E5%BA%A6%E5%AE%A1%E8%AE%A1%E6%8A%A5%E5%91%8A/9.jpg" />
				</div>
				<span class="inTitle">经营合规重点环节审计报告</span>
				<div class="img">
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E8%AE%A1%E6%8A%A5%E5%91%8A/audit26.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E8%AE%A1%E6%8A%A5%E5%91%8A/audit27.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E8%AE%A1%E6%8A%A5%E5%91%8A/audit31.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E8%AE%A1%E6%8A%A5%E5%91%8A/audit37.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E8%AE%A1%E6%8A%A5%E5%91%8A/audit38.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E8%AE%A1%E6%8A%A5%E5%91%8A/audit39.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E8%AE%A1%E6%8A%A5%E5%91%8A/audit40.jpg" />
					<img src="https://image.ouyepuhui.com/images/%E5%AE%A1%E8%AE%A1%E6%8A%A5%E5%91%8A/audit41.jpg" />
				</div>
				<p>
					法人签字：
					<img src="/public/front/images/name1.png" class="sign"/>
				</p>
			</div>
		</div>
		<script type="text/javascript" src="/public/front/javascripts/jquery-1.8.3.min.js"></script>
		<script type="text/javascript">
			$('.img img').click(function(){
				var Src=$(this).attr('src');
				$('body').append('<div class="imgbg"><img src='+Src+' class="see-img"></div>');
				$('.imgbg').click(function(){
					$(this).remove();
				})
			});
		</script>
	</body>
</html>
