<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="/public/app/css/front.css" type="text/css"/>
		<link rel="stylesheet" href="/public/app/css/publishIndex.css" type="text/css"/>
		<title>备案信息</title>
	</head>
	<body>
		<div class="content">
			<h1>备案信息</h1>
			<div class="main">
				<p>
					地方金融监管部门的备案登记信息：暂无
				</p>
				<p>
					资金存管信息：<br>
					资金存管银行：宜宾市商业银行
				</p>
				<p>
					公安机关核发的网站备案图标及编号：<br>
					<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13010502001600" style="color: blue;">
						<img src="/public/common/beian.png">冀公网安备 13010502001600号
					</a><br>
					电信业务经营许可证号：冀ICP备17012676号
				</p>
				<p>
					风险管理信息：
					<span class="minTitle">一丶风险评估流程</span>
					<img src="/public/front/images/ims2.png" style="width: 100%;"/>
					经过对借款人信息进行综合判断、分析、比较和评价，完成风险评估流程后，居间服务方才能最终出具审批意见。对于存在欺诈风险的申请，将提交至反欺诈岗，进行反欺诈调查。反欺诈调查中确定存在欺诈行为的借款人，根据情况加入对应黑名单。
					<span class="minTitle">二丶贷后管理说明</span>
					讴业普惠资产端的贷后管理系统会很据各渠道、地区及账龄情况统一调配催收资源，妥善执行催收工作，避免形成不良资产。对于通过常规催收流程仍然不能实现有效回款的情况，我们将通过采取司法诉讼的方式进行债权回收。
					<span class="minTitle">三丶风险管理架构</span>
					<img src="/public/front/images/ims1.png" style="width: 100%;"/>
					<span class="minTitle">四丶风险预警管理方式</span>
					我们对借款项目进行了风险评测，并在平台上进行了充分的风险提示。同时，我们也将按照监管要求对项目信息和借款人信息及时进行披露。
				</p>
				<p>
					法人签字：
					<img src="/public/front/images/name1.png" class="sign"/>
				</p>
			</div>
		</div>
	</body>
</html>
