<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="/public/app/css/front.css" type="text/css"/>
		<link rel="stylesheet" href="/public/app/css/publishIndex.css" type="text/css"/>
		<title>组织信息</title>
	</head>
	<body>
		<div class="content">
			<h1>组织信息</h1>
			<div class="main">
				<span class="minTitle">工商信息</span>
				<p>
					全称：石家庄菲尔德投资咨询有限公司
					简称：讴业普惠
					统一社会信用代码：911301050799558020
					注册资本：10000万元人民币
					实缴注册资本：100000元人民币
					注册地址：河北省石家庄市新华区民族路77号华强广场A座1605
					经营及联系地址
					成立时间：2013-09-29
					经营期限：20年
					经营状态：存续
					经营范围：投资信息咨询、企业管理咨询、经济贸易信息咨询、财务管理信息咨询、市场信息咨询（以上均金融、证券、期货、教育除外）、房产中介服务（鉴定和评估除外）（依法须经批准的项目，经相关部门批准后方可开展经营活动）<br>
					主要人员信息
					法定代表人：冯鑫
					高级管理人员：
					执行董事：冯鑫
					监事：裴雪松
					总经理：冯鑫
				</p>
				<span class="minTitle">股东信息</span>
				<p>
					股东：冯鑫 占股比例：100%
				</p>
				<span class="minTitle">组织构架及从业人员概况</span>
				<span class="minTitle">组织构架</span>
				<img src="/public/front/images/pt3.png" style="width: 100%;"/>
				<span class="inTitle">从业人员概况</span>
				<p>员工总数：正式员工24人</p>
				<span class="inTitle">官方网站、官方手机应用及其他官方互联网渠道信息</span>
				<p>
					网站：www.ouyepuhui.com<br>
					手机应用：讴业普惠APP<br>
					新浪微博：weibo.com/u/6304343664<br>
					微信公众号：小讴信息<br>
					注册协议：ouyepuhui.com平台注册服务协议
				</p>
				<p>
					法人签字：
					<img src="/public/front/images/name1.png" class="sign"/>
				</p>
			</div>
		</div>
	</body>
</html>
