#{extends 'common/frontMain.html' /} 
#{set title: '首页'/} #{set AItem:4/}


<link rel="stylesheet" type="text/css" href="@{'/public/front/stylesheets/yearReport.css'}" />

<div class="reportBox">
	<div class="chooseBox">
		<select class="selectStyle" id="testSelect">
		    <option value="-1">年度报告</option>
		    <option value="5">2017年度报告</option>
	   		<option value="1">2016年度报告</option>
	   		<option value="2">2015年度报告</option>
	   		<option value="3">2014年度报告</option>
	   		<option value="4">2013年度报告</option>
	   </select>
	</div>
	<div class="contentBox">
	    <h1>2017年度报告</h1>
	    
		<div id="annualReportHidden" class="overview">
			<div class="annual_primary details clearfix">
	            <div class="classify" id="annualBaseInfoColor1">
	                	基本信息
	            </div>
		        <div>
		        	<div class="overview">
	                    <dl>
	                        <dt class="item" id="uniscIdForColor1">统一社会信用代码/注册号：</dt>
	                        <dd class="result" id="uniscId">911301050799558020</dd>
	                    </dl>
	                    <dl>
	                        <dt class="item_right" id="entNameForColor1">企业名称：</dt>
	                        <dd class="result" id="entName">石家庄菲尔德投资咨询有限公司</dd>
	                    </dl>
	                    <dl>
	                        <dt class="item" id="addrForColor1">企业通信地址：</dt>
	                        <dd class="result" id="addr">河北省石家庄市新华区民族路77号华强广场A座1605室</dd>
	                    </dl>
	                    <dl>
	                        <dt class="item_right" id="postForColor1">邮政编码：</dt>
	                        <dd class="result" id="postalCode">050000</dd>
	                    </dl>
	                    <dl>
	                        <dt class="item" id="telForColor1">企业联系电话：</dt>
	                        <dd class="result" id="tel">13832252526</dd>
	                    </dl>
	                    <dl>
	                        <dt class="item_right" id="emailForColor1">企业电子邮箱：</dt>
	                        <dd class="result" id="email">无</dd>
	                    </dl>
	                    <dl>
	                        <dt class="item_right" id="empNumForColor1">从业人数：</dt>
	                        <dd class="result" id="empNum">企业选择不公示</dd>
	                    </dl>
	                    <dl>
	                        <dt class="item_right" id="womemPNumForColor1">其中女性从业人数:</dt>
	                        <dd class="result" id="womemPNum">企业选择不公示</dd>
	                    </dl>
	                    <dl>
	                        <dt class="item" id="busStForColor1">企业经营状态：</dt>
	                        <dd class="result" id="busSt">开业</dd>
	                    </dl>
	                    <dl>
	                        <dt class="item_right" id="holdingSmsgForColor1">企业控股情况:</dt>
	                        <dd class="result" id="holdingSmsg">企业选择不公示</dd>
	                    </dl>
	                    <dl>
	                        <dt class="item">是否有投资信息或购买其他公司股权：</dt>
	                        <dd class="result" id="forInvestment">否</dd>
	                    </dl>
	                    <dl>
	                        <dt class="item_right">是否有网站或网店：</dt>
	                        <dd class="result" id="webIsOrNot">是</dd>
	                    </dl>
	                    <dl>
	                        <dt class="item">是否有对外提供担保信息：</dt>
	                        <dd class="result" id="forGuaranteeinfo">否</dd>
	                    </dl>
	                    <dl>
	                        <dt class="item_right">有限责任公司本年度是否发生股东股权转让：</dt>
	                        <dd class="result" id="alterStockInfo">是</dd>
	                    </dl>
	                    <dl style="width:100%">
	                        <dt class="item">企业主营业务活动:</dt>
	                        <dd class="result" id="mainBusiAct">投资信息咨询、企业管理咨询、经济贸易信息咨询、财务管理信息咨询、市场信息咨询（以上均金融、证券、期货、教育除外）、房产中介服务（鉴定和评估除外）（依法须经批准的项目，经相关部门批准后方可开展经营活动）</dd>
	                    </dl>
		    		</div>
		    	</div>
			</div>
		    <div class="annual_onlineshop">
		        <div class="classify rel" id="annualWebAll">
		            <span id="annualWebColor">网站或网店信息</span>
		            <span class="personCount"><span id="webCount">共计 1 条信息</span></span>    
		        </div>
		        
		        <div id="needPaging_onlineshop" class="clearfix">
		            <ul class="webSite-list" style="float: left;" id="webSiteList"><li><a><div style="font-size:14px;color:#333333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" title="讴业普惠">讴业普惠</div><span style="font-size:12px;color:#666666;">· 类型 : <span style="font-size:12px;color:#333333;" title="网站">网站</span></span><div style="font-size:12px;color:#666666;position:relative;top:-10px;">· 网址 : <span style="font-size:12px;color:#333333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" title="https://www.ouyepuhui.com">https://www.ouyepuhui.com</span></div></a></li></ul>
		        </div>
		    </div>
		    <div class="annual_share">
		        <div class="classify" id="annualSponColor">
		           	 股东及出资信息
		        </div>
		        <div id="needPaging_share_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"><div class="row"><div class="col-sm-12"><table class="display dataTable no-footer" id="needPaging_share" role="grid" aria-describedby="needPaging_share_info">
		            <thead>
		            <tr role="row"><th width="6%" class="sorting_disabled" rowspan="1" colspan="1">序号</th><th class="sorting_disabled" rowspan="1" colspan="1">股东</th><th class="sorting_disabled" rowspan="1" colspan="1">认缴出资额（万元）</th><th width="13%" class="sorting_disabled" rowspan="1" colspan="1">认缴出资时间</th><th class="sorting_disabled" rowspan="1" colspan="1">认缴出资方式</th><th class="sorting_disabled" rowspan="1" colspan="1">实缴出资额（万元）</th><th width="13%" class="sorting_disabled" rowspan="1" colspan="1">实缴出资时间</th><th class="sorting_disabled" rowspan="1" colspan="1">实缴出资方式</th></tr>
		            </thead>
		
		        <tbody><tr role="row" class="odd"><td>1</td><td>石家庄云阙网络科技有限公司</td><td>10000</td><td>2033年9月27日</td><td>货币</td><td>10</td><td>2013年9月25日</td><td>货币</td></tr></tbody></table><div id="needPaging_share_processing" class="dataTables_processing panel panel-default" style="display: none;">正在加载，请稍候</div></div></div></div>
		    </div>
		    <div class="annual_invest">
		        <div class="classify rel" id="annualToOutAll">
		            <span id="annualToOutColor">对外投资信息</span>
		            <span class="personCount"><span id="invCount"></span></span>                    
		        </div>
		        <div id="needPaging_inv" class="clearfix">
		            <ul class="webSite-list" style="float: left;" id="forInvsmentList">
		            	<table>
			            <tr class="odd">
			            	<td style="background:#F3F7FA;color:#666;width:1077px;" id="dataTables_empty" colspan="4">暂无对外投资信息</td>
			            </tr>
			            </table>
		            </ul>
		        </div>
		    </div>
		    <div class="annual_assert" id="oneAss">
		        <div class="classify" id="annualAssetsColor1">
		            	企业资产状况信息
		        </div>
		        <table class="display" id="needPaging_assert">
		            <tbody>
		            <tr>
		                <th>资产总额</th>
		                <td id="assGroDisIs">企业选择不公示</td>
		                <th>所有者权益合计</th>
		                <td id="totEquDisIs">企业选择不公示</td>
		            </tr>
		            <tr>
		                <th>营业总收入</th>
		                <td id="vendIncDisIs" style="background:#f7f8fa">企业选择不公示</td>
		                <th>利润总额</th>
		                <td id="proGroDisIs" style="background:#f7f8fa">企业选择不公示</td>
		            </tr>
		            <tr>
		                <th>营业总收入中主营业务收入</th>
		                <td id="maiBusIncDisIs">企业选择不公示</td>
		                <th>净利润</th>
		                <td id="netIncDisIs">企业选择不公示</td>
		            </tr>
		            <tr>
		                <th>纳税总额</th>
		                <td id="ratGroDisIs" style="background:#f7f8fa">企业选择不公示</td>
		                <th>负债总额</th>
		                <td id="liaGroDisIs" style="background:#f7f8fa">企业选择不公示</td>
		            </tr>
		            </tbody>
		        </table>
		    </div>
		
		    <div class="annual_guarantee" id="oneForGua">
		        <div class="classify" id="annualGuaranteeColor">
		            	对外提供保证担保信息
		        </div>
		        <div id="needPaging_guarantee_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"><div class="row"><div class="col-sm-12"><table class="display dataTable no-footer" id="needPaging_guarantee" role="grid" aria-describedby="needPaging_guarantee_info">
		            <thead>
		            <tr role="row"><th width="6%" class="sorting_disabled" rowspan="1" colspan="1">序号</th><th width="10%" class="sorting_disabled" rowspan="1" colspan="1">债权人</th><th width="10%" class="sorting_disabled" rowspan="1" colspan="1">债务人</th><th width="14%" class="sorting_disabled" rowspan="1" colspan="1">主债权种类</th><th width="14%" class="sorting_disabled" rowspan="1" colspan="1">主债权数额</th><th width="26%" class="sorting_disabled" rowspan="1" colspan="1">履行债务的期限</th><th width="11%" class="sorting_disabled" rowspan="1" colspan="1">保证的期间</th><th width="11%" class="sorting_disabled" rowspan="1" colspan="1">保证的方式</th></tr>
		            </thead>
		        <tbody><tr class="odd"><td valign="top" colspan="8" class="dataTables_empty">暂无对外提供保证担保信息</td></tr></tbody></table><div id="needPaging_guarantee_processing" class="dataTables_processing panel panel-default" style="display: none;">正在加载，请稍候</div></div></div></div>
		    </div>
		
		    <div class="annual_guarantee" id="twoForGua" style="display:none">
		        <div class="classify" id="annualGuaranteeColor">
		            对外提供保证担保信息
		        </div>
		        <table class="display" id="needPaging_guarantee">
		            <thead>
		            <tr>
		                <th width="6%">序号</th>
		                <th width="10%">债权人</th>
		                <th width="10%">债务人</th>
		                <th width="14%">主债权种类</th>
		                <th width="14%">主债权数额</th>
		                <th width="26%">履行债务的期限</th>
		                <th width="11%">保证的期间</th>
		                <th width="11%">保证的方式</th>
		            </tr>
		            </thead>
		            <tbody>
		            <tr>
		                <td colspan="9">该企业选择不公示对外提供保证担保信息</td>
		            </tr>
		            </tbody>
		        </table>
		    </div>
		
		    <input type="hidden" value="1" id="ent_type" name="ent_type">
		
		    <div class="annual_shareChanged">
		        <div class="classify" id="annualSponAlterColor">
		            	股权变更信息
		        </div>
		        <div id="needPaging_shareChanged_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"><div class="row"><div class="col-sm-12"><table class="display dataTable no-footer" id="needPaging_shareChanged" role="grid" aria-describedby="needPaging_shareChanged_info">
		            <thead>
		            <tr role="row"><th width="6%" class="sorting_disabled" rowspan="1" colspan="1">序号</th><th class="sorting_disabled" rowspan="1" colspan="1">股东</th><th class="sorting_disabled" rowspan="1" colspan="1">变更前股权比例</th><th class="sorting_disabled" rowspan="1" colspan="1">变更后股权比例</th><th width="13%" class="sorting_disabled" rowspan="1" colspan="1">股权变更日期</th></tr>
		            </thead>
		
		        <tbody><tr role="row" class="odd"><td>1</td><td>石家庄云阙网络科技有限公司</td><td>0%</td><td>100%</td><td>2017年3月3日</td></tr></tbody></table><div id="needPaging_shareChanged_processing" class="dataTables_processing panel panel-default" style="display: none;">正在加载，请稍候</div></div></div></div></div>
		
		
		
		    <div class="annual_AnnPbBase" id="annSocsecinfo_container">
		        <div class="classify" id="annualSocsecColor">
		         	   社保信息
		        </div>
		        <table class="display dataTable" id="needPaging_annSocsecinfo">
		            <tbody><tr>
		                <th width="25%" class="tr">城镇职工基本养老保险</th><td width="25%" class="tl" id="so110">0人</td><th width="25%" class="tr">失业保险</th><td width="25%" class="tl" id="so210">0人</td>
		            </tr>
		            <tr>
		                <th class="tr">职工基本医疗保险</th><td class="tl" id="so310">0人</td><th class="tr">工伤保险</th><td class="tl" id="so410">0人</td>
		            </tr>
		            <tr>
		                <th class="tr">生育保险</th><td class="tl" id="so510">0人</td><th></th><td></td>
		            </tr>
		        </tbody></table>
		        <table class="display dataTable" id="needPaging_annSocsecinfo1">
		            <tbody><tr>
		                <th rowspan="5" width="20%">单位缴费基数</th><th width="40%" class="tr">单位参加城镇职工基本养老保险缴费基数</th><td width="40%" class="tl" id="totalWagesSo110">企业选择不公示</td>
		            </tr>
		            <tr>
		                <th class="tr">单位参加失业保险缴费基数</th><td class="tl" id="totalWagesSo210">企业选择不公示</td>
		            </tr>
		            <tr>
		                <th class="tr">单位参加职工基本医疗保险缴费基数</th><td class="tl" id="totalWagesSo310">企业选择不公示</td>
		            </tr>
		            <!--
		            <tr>
		                <th class="tr">单位参加工伤保险缴费基数</th><td class="tl" id="totalWagesSo410"></td>
		            </tr>
		            -->
		            <tr>
		                <th class="tr">单位参加生育保险缴费基数</th><td class="tl" id="totalWagesSo510">企业选择不公示</td>
		            </tr>
		        </tbody></table>
		        <table class="display dataTable" id="needPaging_annSocsecinfo2">
		            <tbody><tr>
		                <th rowspan="5" width="20%">本期实际缴费金额</th><th width="40%" class="tr">参加城镇职工基本养老保险本期实际缴费基数</th><td width="40%" class="tl" id="totalPaymentSo110">企业选择不公示</td>
		            </tr>
		            <tr>
		                <th class="tr">参加失业保险本期实际缴费基数</th><td class="tl" id="totalPaymentSo210">企业选择不公示</td>
		            </tr>
		            <tr>
		                <th class="tr">参加职工基本医疗保险本期实际缴费基数</th><td class="tl" id="totalPaymentSo310">企业选择不公示</td>
		            </tr>
		            <tr>
		                <th class="tr">参加工伤保险本期实际缴费基数</th><td class="tl" id="totalPaymentSo410">企业选择不公示</td>
		            </tr>
		            <tr>
		                <th class="tr">参加生育保险本期实际缴费基数</th><td class="tl" id="totalPaymentSo510">企业选择不公示</td>
		            </tr>
		        </tbody></table>
		        <table class="display dataTable" id="needPaging_annSocsecinfo3">
		            <tbody><tr>
		                <th rowspan="5" width="20%">单位累计欠缴金额</th><th width="40%" class="tr">单位参加城镇职工基本养老保险累计欠缴金额</th><td width="40%" class="tl" id="unPaidSocialInsSo110">企业选择不公示</td>
		            </tr>
		            <tr>
		                <th class="tr">单位参加失业保险累计欠缴金额</th><td class="tl" id="unPaidSocialInsSo210">企业选择不公示</td>
		            </tr>
		            <tr>
		                <th class="tr">单位参加职工基本医疗保险累计欠缴金额</th><td class="tl" id="unPaidSocialInsSo310">企业选择不公示</td>
		            </tr>
		            <tr>
		                <th class="tr">单位参加工伤保险累计欠缴金额</th><td class="tl" id="unPaidSocialInsSo410">企业选择不公示</td>
		            </tr>
		            <tr>
		                <th class="tr">单位参加生育保险累计欠缴金额</th><td class="tl" id="unPaidSocialInsSo510">企业选择不公示</td>
		            </tr>
		        </tbody></table>
		    </div>
		
		
		    <div class="annual_modify">
		        <div class="classify" id="modifyMark">
		           	 修改信息
		        </div>
		        <div id="needPaging_modify_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"><div class="row"><div class="col-sm-12">
		        <table class="display dataTable no-footer" id="needPaging_modify" role="grid" aria-describedby="needPaging_modify_info">
		            <thead>
		            	<tr role="row"><th width="6%" class="sorting_disabled" rowspan="1" colspan="1">序号</th><th class="sorting_disabled" rowspan="1" colspan="1">修改事项</th><th class="sorting_disabled" rowspan="1" colspan="1">修改前</th><th class="sorting_disabled" rowspan="1" colspan="1">修改后</th><th width="13%" class="sorting_disabled" rowspan="1" colspan="1">修改日期</th></tr>
		            </thead>
			        <tbody>
			        <tr role="row" class="odd">
			        	<td>1</td><td>25</td><td>0万元</td><td>15.6万元</td><td>2018年6月25日</td>
			        </tr>
			        <tr role="row" class="even">
			        	<td>2</td><td>22</td><td>0万元</td><td>5.3万元</td><td>2018年6月25日</td>
			        </tr>
			        <tr role="row" class="odd">
			        	<td>3</td><td>32</td><td>股东：冯鑫 认缴：2033年9月27日货币10000万 元 实缴：2013年9月29日货币10万元；</td><td>股东：石家庄云阙网络科技有限公司 认缴：2033年9月27日货币9990万 元 实缴：2013年9月29日货币10万元；</td><td>2018年6月25日</td>
			        </tr>
			        <tr role="row" class="even">
			        	<td>4</td><td>32</td><td><div style="text-align:left" title="股东：董涛 认缴：2033年9月27日货币9万 元 实缴：2013年9月29日货币0万元；股东：武镇海 认缴：2033年9月27日货币1万 元 实缴：2013年9月29日货币0万元；">股东：董涛 认缴：2033年9月27日货币9万 元 实缴：2013年9月29日货币0万元；股东：武镇海 认缴：2033年...<a style="cursor:pointer;float:right" onclick="showMore(this)">更多</a></div><div style="display:none;text-align:left">股东：董涛 认缴：2033年9月27日货币9万 元 实缴：2013年9月29日货币0万元；股东：武镇海 认缴：2033年9月27日货币1万 元 实缴：2013年9月29日货币0万元；<a style="cursor:pointer;float:right" onclick="hideMore(this)">收起</a></div></td><td>股东：冯鑫 认缴：2033年9月27日货币10000万 元 实缴：2013年9月29日货币10万元；</td><td>2018年6月4日</td>
			        </tr>
			        <tr role="row" class="odd">
			        	<td>5</td><td>07</td><td>否</td><td>是</td><td>2018年6月25日</td>
			        </tr>
			        <tr role="row" class="odd">
			        	<td>6</td><td>03</td><td>2人</td><td>7人</td><td>2018年6月25日</td>
			        </tr>
			        <tr role="row" class="even">
			        	<td>7</td><td>35</td><td>否</td><td>是</td><td>2018年6月25日</td>
			        </tr>
			        <tr role="row" class="odd">
			        	<td>8</td><td>23</td><td>0万元</td><td>15万元</td><td>2018年6月25日</td>
			        </tr>
			        <tr role="row" class="even">
			        	<td>9</td><td>32</td><td>股东：石家庄云阙网络科技有限公司 认缴：2033年9月27日货币9990万 元 实缴：2013年9月29日货币10万元；</td><td><div style="text-align:left" title="股东：石家庄云阙网络科技有限公司 认缴：2033年9月27日货币10000万 元 实缴：2013年9月25日货币10万元；">股东：石家庄云阙网络科技有限公司 认缴：2033年9月27日货币10000万 元 实缴：2013年9月25日货币10万元...<a style="cursor:pointer;float:right" onclick="showMore(this)">更多</a></div><div style="display:none;text-align:left">股东：石家庄云阙网络科技有限公司 认缴：2033年9月27日货币10000万 元 实缴：2013年9月25日货币10万元；<a style="cursor:pointer;float:right" onclick="hideMore(this)">收起</a></div></td><td>2018年6月25日</td>
			        </tr>
			        <tr role="row" class="odd">
			        	<td>10</td><td>42</td><td>0人</td><td>1人</td><td>2018年6月25日</td>
			        </tr>
			        <tr role="row" class="odd">
			        	<td>11</td><td>31</td><td></td><td>网站 讴业普惠 https://www.ouyepuhui.com；</td><td>2018年6月25日</td>
			        </tr>
			        <tr role="row" class="even">
			        	<td>12</td><td>36</td><td></td><td><div style="text-align:left" title="股东：石家庄云阙网络科技有限公司 变更日期：2017年3月3日 变更前股权比例：0.0%，变更后股权比例：100.0%。；">股东：石家庄云阙网络科技有限公司 变更日期：2017年3月3日 变更前股权比例：0.0%，变更后股权比例：100.0%。...<a style="cursor:pointer;float:right" onclick="showMore(this)">更多</a></div><div style="display:none;text-align:left">股东：石家庄云阙网络科技有限公司 变更日期：2017年3月3日 变更前股权比例：0.0%，变更后股权比例：100.0%。；<a style="cursor:pointer;float:right" onclick="hideMore(this)">收起</a></div></td><td>2018年6月25日</td>
			        </tr>
			        <tr role="row" class="odd">
			        	<td>13</td><td>28</td><td>0万元</td><td>-9.7万元</td><td>2018年6月25日</td>
			        </tr>
			        </tbody>
		        </table>
		        </div></div></div></div>
		
		</div>
	</div>
</div>
	<script type="text/javascript">
     //选中的值
     $('#testSelect').change(function(){
    	 var testSelect =$('#testSelect option:selected') .val();
    	 if(testSelect==1){
    		 window.location.href ="@{front.YearReportCtrl.yearReportOnePre()}"
    	 }
    	 if(testSelect==2){
    		 window.location.href ="@{front.YearReportCtrl.yearReportTwoPre()}"
    	 }
    	 if(testSelect==3){
    		 window.location.href ="@{front.YearReportCtrl.yearReportThreePre()}"
    	 }
    	 if(testSelect==4){
    		 window.location.href ="@{front.YearReportCtrl.yearReportFourPre()}"
    	 }
     })
     
</script>
