#{extends 'common/frontMain.html' /}
#{set title: '首页|组织信息'/}
<link rel="stylesheet" type="text/css" href="/public/front/stylesheets/publishIndex.css"/>

<div class="manageBox publishBox">
    <h1 class="lineStrip">组织信息  <a href="@{front.PublishMessageCtrl.publishIndexPre()}" style="float: right;margin-right: 50px;"><img src="/public/front/images/return-img.png" /></a> </h1>
    <div class="publishSynopsis">
       <h3>工商信息</h3>
	   <p>全称：石家庄菲尔德投资咨询有限公司</p>
	   <p>简称：讴业普惠</p>
	   <p>统一社会信用代码：911301050799558020</p>
	   <p>注册资本：10000万元人民币</p>
	   <p>实缴注册资本：100000元人民币</p>
	   <p>注册地址：河北省石家庄市新华区民族路77号华强广场A座1605</p>
	   <p>经营及联系地址</p>
	   <p>成立时间：2013-09-29</p>
	   <p>经营期限：20年</p>
	   <p>经营状态：存续</p>
	   <p>经营范围：投资信息咨询、企业管理咨询、经济贸易信息咨询、财务管理信息咨询、市场信息咨询（以上均金融、证券、期货、教育除外）、房产中介服务（鉴定和评估除外）（依法须经批准的项目，经相关部门批准后方可开展经营活动）</p>
	   <p>主要人员信息</p>
	   <p>法定代表人：冯鑫</p>
	   <p>高级管理人员：</p>
	   <p>执行董事：冯鑫</p>
	   <p>监事：裴雪松</p>
	   <p>总经理：冯鑫</p>
	   <h3>股东信息</h3>
	   <p>股东：冯鑫&nbsp;占股比例：100%</p>
	   <h3>组织构架及从业人员概况</h3>
	   <h3>组织构架</h3>
	   <img src="/public/front/images/pt3.png" />
	   <h3>从业人员概况</h3>
	   <p>员工总数：正式员工24人</p>
	   <!-- <p>学历分布：本科：4人；大专：32人；</p> -->
	  
	   <h3>官方网站、官方手机应用及其他官方互联网渠道信息</h3>
	   <div style="font-size: 12px;">
	   <p>网站：www.ouyepuhui.com</p>
	   <p>手机应用：讴业普惠APP</p>
	   <p>新浪微博：weibo.com/u/6304343664</p>
	   <p>微信公众号：小讴信息</p>
	   <p style="margin-bottom: 30px;">注册协议：<span  onclick="javascript:window.location.href='@{front.LoginAndRegisteCtrl.registerDealPre()}'" style="color: #1969fd">ouyepuhui.com平台注册服务协议</span></p>
	   </div>
	   <div style="float: left;width: 100%;height: 100px;">
    
              <p style="text-align: right;line-height: 100px;">法人签字：<img style="width: 160px;height: 100px;" src="/public/front/images/name1.png"/></p>
       </div>
     
       
    </div>
    
</div>   
<script>
</script>
