<!DOCTYPE html>
<html>
	<head>
		<title>#{get 'title' /}${' | '+settings?.get(common.constants.SettingKey.SEO_TITLE)+' | '+settings?.get(common.constants.SettingKey.PLATFORM_NAME)}</title>
		
		<meta name="keywords" content="${settings?.get(common.constants.SettingKey.SEO_KEYWORDS)}" />
		<meta name="description" content="${settings?.get(common.constants.SettingKey.SEO_DESCRIPTION)}" />
		
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<link rel="shortcut icon" type="image/png" href="${settings?.get(common.constants.SettingKey.PLATFORM_ICON_FILENAME)}" />
		<link rel="stylesheet" type="text/css" href="@{'/public/front/stylesheets/front.css'}" />
		<link rel="stylesheet" type="text/css" href="@{'/public/front/stylesheets/lanrenzhijia.css'}" />
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/idex.css'}" />
		<!-- 皮肤背景、颜色 -->
		<link rel="stylesheet" type="text/css" href="@{'/public/front/themes/'+settings?.get(common.constants.SettingKey.THEME_NAME)+'/backgroundn.css'}" />
		#{if settings?.get(common.constants.SettingKey.THEME_CUSTOMIZE).equals('0')}
			<link rel="stylesheet" type="text/css" href="@{'/public/front/themes/'+settings?.get(common.constants.SettingKey.THEME_NAME)+'/color.css'}" />
		#{/if}
		#{else}
			#{set mainColor:'#'+settings?.get(common.constants.SettingKey.THEME_MAIN_COLOR) /}
			#{set auxColor:'#'+settings?.get(common.constants.SettingKey.THEME_AUX_COLOR) /}
			#{set thdColor:'#'+common.utils.StrUtil.colorByAlpha(settings?.get(common.constants.SettingKey.THEME_MAIN_COLOR)) /}
			#{include 'common/front/colorCont.html' /}
		#{/else}
		
		#{get 'moreStyles' /}
		<!-- 页面js -->
		<script type="text/javascript" src="/public/front/javascripts/jquery-1.8.3.min.js" ></script>
		<script type="text/javascript" data-main="/public/front/javascripts/front.js" src="@{'public/front/javascripts/require.js'}" ></script>
		<script type="text/javascript" src="/public/front/javascripts/jquery.skitterr.min.js" ></script>
		<script type="text/javascript" src="/public/front/javascripts/jquery.hhService.js" ></script>
		#{get 'moreScripts' /}
</head>
	<body onload="loadpopup()">
	<!-- header start -->
		<div class="header">
			<div class="top">
				<div class="container">
					<div class="left" style="margin-left:20px;">
						<div class="mobile-app left">
							<i class="icon appicon"></i><a>手机理财</a>
							<div class="moblie-app-dropbox">
								<i class="icon"></i>
								<img src="/public/common/kehuduan.png" width="80" height="80" title="扫描下载app" alt="移动客户端下载" />
								<p>扫描下载APP</p>
							</div>
						</div>
						<div class="weiXin-app left">
							<i class="icon weiicon"></i><a>微信理财</a>
							<div class="weiXin-app-dropbox">
								<i class="icon"></i>
								<img src="/public/common/weixin.png" width="80" height="80" title="扫描关注微信" alt="扫描关注微信" />
								<p>扫描关注微信</p>
							</div>
						</div>
						<div class="phone-app left">
							<i class="icon phoneicon"></i><a>400-901-8889</a>
						</div>
					</div>
					<div class="right">
						#{if currUser == null}
							<!-- <i class="left split-line"></i> -->
							<a class="left" href="@{front.LoginAndRegisteCtrl.loginPre()}" target="" title="">登录</a>
							<i class="left split-line"></i>
							<a class="left" href="@{front.LoginAndRegisteCtrl.registerPre()}" target="" title="">注册</a>
						#{/if}
						#{else}
							<!-- <i class="left split-line"></i> -->
							<a class="left" href="@{front.account.MyAccountCtrl.homePre()}" target="" title="">${currUser?.name}</a>
							<i class="left split-line"></i>
							<a class="left" href="@{front.LoginAndRegisteCtrl.loginOutPre()}" target="" title="">退出</a>
						#{/else}
						<i class="left split-line"></i>
							<a class="left" href="@{front.FrontHomeCtrl.enterStylePre()}" target="" title="">企业风貌</a>
							<i class="left split-line"></i>
							<a class="left" href="@{front.FrontHomeCtrl.employeePre()}" target="" title="">员工风采</a>
							<i class="left split-line"></i>
							<a class="left" href="@{front.FrontHomeCtrl.safePre()}" target="" title="">安全保障</a>
							<i class="left split-line"></i>
							<a class="left" href="@{front.FrontHomeCtrl.helpPre(models.common.entity.t_help_center.Column.FINANCIAL_KNOWLEDGE.code,1)}" target="" title="">帮助中心</a>
					</div>
				</div>
			</div>
			<div class="navbox">
				<div class="navbox-innerbox">
					<div class="container clearfix">
					<a href="/">
							#{img data_original:settings?.get(common.constants.SettingKey.PLATFORM_LOGO_FILENAME), class:"lazy", height:"77", width:"400"/}
						</a>
						<ul class="nav right">
							<li><a href="@{front.FrontHomeCtrl.frontHomePre()}" title="" target="" >${columns?.get(common.constants.ColumnKey.HOME)?:'首页'}</a></li>
							<li><a href="@{front.invest.InvestCtrl.toInvestPre()}" title="" target="" >${columns?.get(common.constants.ColumnKey.INVEST)?:'理财'}</a></li>
							<li><a href="@{front.LoanCtrl.toLoanPre()}" title="" target="" >${columns?.get(common.constants.ColumnKey.LOAN)?:'借款'}</a></li>
							<li><a href="@{front.InformationCtrl.showInfosPre()}" title="" target="" >${columns?.get(common.constants.ColumnKey.INFO)?:'资讯'}</a></li>
							<!-- liuyang begin 2017-1-5---------------------------- -->
							<li class="pulls">
							<a href="@{front.FrontHomeCtrl.aboutUsPre()}" title="" target="" id="pulls-up" >${columns?.get(common.constants.ColumnKey.HOME_ABOUTUS)?:'关于我们'} <label>▼</label></a>
							<ul id="pulls-down">
								<li><a href="@{front.FrontHomeCtrl.aboutUsPre()}" title="">公司介绍</a></li>
								<li><a href="@{front.FrontHomeCtrl.safePre()}" title="" >安全保障</a></li>
								<li><a href="@{front.FrontHomeCtrl.developPre()}" title="">发展历程</a></li>
								<li><a href="@{front.FrontHomeCtrl.honorPre()}" title="">荣誉资质</a></li>
							</ul>
							</li>
							<!-- liuyang end 2017-1-5---------------------------- -->
							<li style="background-image: url(public/front/images/hot.png);background-repeat: no-repeat;background-position: 68px 16px;background-size: 30px 30px;"><a href="@{front.MallCtrl.mallHomePre()}" title="" target="" >积分商城</a></li>
							<li><a href="@{front.account.MyAccountCtrl.homePre()}" title="" target="" class="nav-account"><i class="icon"></i>${columns?.get(common.constants.ColumnKey.WEALTH)?:'我的财富'}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	<!-- header end -->

	<!-- main Content start -->
		#{doLayout /}
	<!-- main Content start -->

	<!-- 左侧客服 开始 -->
	<!-- <div class="scrollsidebar" id="hhService">
		<div class="side_content">
			<div class="side_list">
				<div class="side_title">
					<a title="隐藏" class="close_btn"><span>关闭</span></a></div>
				<div class="side_center">
					<div class="qqserver">
						#{if settings?.get(common.constants.SettingKey.COMPANY_QQ1)}
						<p>
						<a title="点击这里给我发消息" href="https://wpa.qq.com/msgrd?v=3&uin=${settings?.get(common.constants.SettingKey.COMPANY_QQ1)}&site=qq&menu=yes" target="_blank">
						<img src="/public/common/button_111.gif">前台客服</a></p>
						#{/if}
						#{if settings?.get(common.constants.SettingKey.COMPANY_QQ2)}
						<p>
						<a title="点击这里给我发消息" href="https://wpa.qq.com/msgrd?v=3&uin=${settings?.get(common.constants.SettingKey.COMPANY_QQ2)}&site=qq&menu=yes" target="_blank">
						<img src="/public/common/button_111.gif">前台客服</a></p>
						#{/if}
						#{if settings?.get(common.constants.SettingKey.COMPANY_QQ3)}
						<p>
						<a title="点击这里给我发消息" href="https://wpa.qq.com/msgrd?v=3&uin=${settings?.get(common.constants.SettingKey.COMPANY_QQ3)}&site=qq&menu=yes" target="_blank">
						<img src="/public/common/button_111.gif">前台客服</a></p>
						#{/if}
					</div>
					<strong>咨询热线：<br><span style="font-size: 14px;">400-901-8889</span></strong><div class="msgserver">
						<p><a href="@{front.ActivityCtrl.registerActivityPre()}">热门活动</a></p>
					</div>
				</div>
				<div class="side_bottom">
				</div>
			</div>
		</div>
		<div class="show_btn"><span>热门活动</span></div>
	</div> -->
	<!-- 左侧客服结束 -->

	<!-- right bar -->
		<ul class="rightbar">
			<li class="goto-top">
				<div class="rightbar-box">
					<i class="icon top-icon"></i>
					<span class="rightbar-word">
						返回顶部
					</span>
				</div>
			</li>
			<li>
				<div class="rightbar-box">
					<i class="icon weixin-icon"></i>
					<span class="rightbar-word">
						关注微信
					</span>
				</div>
				<div class="rightbar-leftbox">
					<i></i>
					<i></i>
					<img src="/public/common/weixin.png" width="100" height="100" align="" />
				</div>
			</li>
			<!-- <li>
				<div class="rightbar-box">
					<i class="icon weibo-icon"></i>
					<a href="#" class="rightbar-word">
						关注微博
					</a>
				</div>
			</li>
			<li>
				<div class="rightbar-box">
					<i class="icon kefu-icon"></i>
					<a target="_blank" class="rightbar-word">
						在线客服
					</a>
				</div>
				<div class="rightbar-kflist">
					<a class="rightbar-kflink" href="http://wpa.qq.com/msgrd?v=3&uin=${settings?.get(common.constants.SettingKey.COMPANY_QQ1)}&site=qq&menu=yes" target="_blank" title="客服01" ><img src="/public/front/images/kfimg.png" width="77" height="21" /></a>
					#{if settings?.get(common.constants.SettingKey.COMPANY_QQ2)}
						<a class="rightbar-kflink" href="http://wpa.qq.com/msgrd?v=3&uin=${settings?.get(common.constants.SettingKey.COMPANY_QQ2)}&site=qq&menu=yes" target="_blank" title="客服02" ><img src="/public/front/images/kfimg.png" width="77" height="21" /></a>
					#{/if}
					#{if settings?.get(common.constants.SettingKey.COMPANY_QQ3)}
						<a class="rightbar-kflink" href="http://wpa.qq.com/msgrd?v=3&uin=${settings?.get(common.constants.SettingKey.COMPANY_QQ3)}&site=qq&menu=yes" target="_blank" title="客服03" ><img src="/public/front/images/kfimg.png" width="77" height="21" /></a>
					#{/if}
				</div>
			</li> -->
			<!-- 演示站点调查问卷 -->
			<li>
				<div class="rightbar-box">
					<i class="icon diaoyan-icon" style="background-image:url(/public/front/images/diaoyan-icon.png); background-position: center center;"></i>
					<a target="_blank" href="http://form.mikecrm.com/f.php?t=V15AUf" class="rightbar-word">
						调研问卷
					</a>
				</div>
			</li>
			<li class="goto-end">
				<div class="rightbar-box">
					<i class="icon end-icon"></i>
					<span class="rightbar-word">
						跳到底部
					</span>
				</div>
			</li>
		</ul>
	<!-- right bar end -->

	<!-- footer start -->
		<div class="footer">
			<div class="footer-up">
				<div class="footer-cont ">
			       <div class="foot_inner clearfix container">
		               <ul class="footer-nav left">
							<li><a href="@{front.FrontHomeCtrl.aboutUsPre()}" title="">${columns?.get(common.constants.ColumnKey.HOME_PROFILE)?:'公司介绍'}</a></li><!-- 公司介绍 -->
							<li><a href="@{front.FrontHomeCtrl.safePre()}" title="" >${columns?.get(common.constants.ColumnKey.HOME_ADVANTAGE)?:'平台优势'}</a></li><!-- 平台优势 -->
							<li><a href="@{front.FrontHomeCtrl.contactusPre()}" title="" >${columns?.get(common.constants.ColumnKey.HOME_CONTACTUS)?:'联系我们'}</a></li><!-- 联系我们 -->
							<li><a href="@{front.FrontHomeCtrl.helpPre(models.common.entity.t_help_center.Column.FINANCIAL_KNOWLEDGE.code,1)}" title="">${columns?.get(common.constants.ColumnKey.HOME_HELPCENTER)?:'帮助中心'}</a></li><!-- 帮助中心 -->
						</ul>
						<div class="w-line"></div>
			           <div class="erweima_box left clearfix">
			               <div class="left">
			                   <img src="/public/common/weixin.png" style="height: 90px; width: 90px;">
			                   <p>官方微信</p>
			               </div>
			               <div class="right">
			                   <img src="/public/common/kehuduan.png" style="height: 90px; width: 90px;">
			                   <p>手机客户端</p>
			               </div>
			           </div>
			           <div class="w-line"></div>
		                <p class="footer-phone right">
							#{if settings?.get(common.constants.SettingKey.COMPANY_TEL)}
								<i class="icon"></i>
								${settings?.get(common.constants.SettingKey.COMPANY_TEL)}
							#{/if}
						</p>
			       </div>
			   </div>
			</div>
			<div class="footer-msg">
			<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13010502001600" ><img src="/public/common/beian.png" style="margin-top: 20px;display: inline;"/><span style="height:20px;line-height:20px;margin: 0px 0px 0px 5px;color: #666" >冀公网安备 13010502001600号</span ></a ><i class="footer-split">|</i>
			©2016&nbsp;${settings?.get(common.constants.SettingKey.PLATFORM_NAME)}&nbsp;All&nbsp;rights&nbsp;resered<i class="footer-split">|</i>${settings?.get(common.constants.SettingKey.COMPANY_NAME)}<i class="footer-split">|</i>${settings?.get(common.constants.SettingKey.SITE_ICP_NUMBER)}
			<a id='___szfw_logo___' href='https://credit.szfw.org/CX20160829028768271567.html'  target='_blank'><img src='/public/images/cert.png' style="margin-left: 18px;margin-top: 10px;" border='0' /></a>
			<a id='___szfw_logo___' href="http://webscan.360.cn/index/checkwebsite/url/www.ouyepuhui.com" target='_blank'><img border="0" src="/public/images/360check.png" style="margin-left: 18px;margin-top: 10px; weight:114px;height:41px;"border='0'/></a>
			<a id='___szfw_logo___' href="https://ss.knet.cn/verifyseal.dll?sn=e16090513010064629qrbi000000&comefrom=trust&trustKey=dn&trustValue=www.ouyepuhui.com"> <img src="/public/images/kxwz.png" alt="可信网站身份验证" title="可信网站身份验证" style="margin-left: 18px;margin-top: 10px;" border="0"> </a> 
			<a id="___szfw_logo___" href="http://si.trustutn.org/info?sn=455170111000562229393&certType=4"><img src="/public/images/internet_qualification.jpg" style="margin-left: 18px;margin-top: 10px;" border='0'/></a>
			
			
			
			
<script type='text/javascript'>(function(){document.getElementById('___szfw_logo___').oncontextmenu = function(){return false;}})();</script>

			</div>
			
		</div>
	<!-- footer end -->
	<div style="display:none;" >
		${settings?.get(common.constants.SettingKey.BAIDU_CODE)?.raw()}
	</div>
	</body>
	
	<script type="text/javascript">
		require(['front'],function(front){
			require(['domReady!'],function(doc){
				front.navSelected(#{get 'AItem' /});
				front.secondNav(#{get 'smallclass' /});
				
				#{if flash?.success}
					weakDialog('${flash?.success}');
				#{/if}
				
				#{if flash?.error}
					alert('${flash?.error}');
				#{/if}
				
				//图片懒加载
				$("img.lazy").lazyload();
		
				//字符串截取
				$(this).limit();
				
				//文本域换行 
				$(this).newline();
			});
			#{if settings?.get(common.constants.SettingKey.THEME_WIDGET)}
				require(["../themes/${settings?.get(common.constants.SettingKey.THEME_NAME)}/${settings?.get(common.constants.SettingKey.THEME_WIDGET)}"]);
			#{/if}
			
		});
		function toHref(href,target){
			if(target == '_blank'){
				window.open(href);
			}else {
				window.location.href=href;
			}
		};
		<!-- liuyang begin 2017-1-5---------------------------- -->
		$(".pulls").mouseover(function(){
			$("#pulls-down").show();
			$(".pulls").addClass("pullss");
		});
		$(".pulls").mouseout(function(){
			$("#pulls-down").hide();
			$(".pulls").removeClass("pullss");
		});
		<!-- liuyang end 2017-1-5---------------------------- -->
		
	</script>
	<script>$(function(){$("#hhService").fix({float:'left',minStatue:false,skin:'green',durationTime:1000})});</script>
</html>