.com-cent, .wdw-cent {
    margin: 0 auto;
    width: 1200px;
    min-width: 1200px;
    position: relative;
}
.sitemap {
    background: #fff;
    overflow: hidden;
}
.icon-title {
    width: 6px;
    height: 19px;
    position: absolute;
    left: 0px;
    top: 15px;
    background-position: 0 -40px;
    background-color: #4390e7;
}
.title h2 {
    font-weight: normal;
    padding-left: 15px;
    font-size: 18px;
    float: left;
    display: inline;
    position: relative;
}
.title {
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    position: relative;
}
.sitemap .title {
    color: #4390e7;
    font-weight: 700;
    background: #e1eef7;
    padding-left: 20px;
}

.clearfix:after, #header:after, #banner:after, .com-cent:after, .wdw-cent:after, #footer:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
    overflow: hidden;
}
.sm-cont-wrap {
    padding: 0 62px 70px;
    overflow: hidden;
    border: 1px solid #d2d2d2;
    border-top: 0;
    zoom: 1;
}
.sm-module {
    width: 100%;
    float: left;
    overflow: hidden;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 28px;
}
.sitemap { background: #fff; overflow: hidden; }
.sitemap .title { color: #4390e7; font-weight: 700; }
.sm-cont-wrap { padding: 0 62px 70px; overflow: hidden; border: 1px solid #d2d2d2; border-top: 0; zoom: 1; }
.sm-module { width: 100%; float: left; overflow: hidden; border-bottom: 1px solid #d2d2d2; padding-bottom: 28px; }
.sm-module h2 { float: left; width: 100%; font-size: 20px; line-height: 80px; }
.sm-module ul { float: left; margin-left: -20px; font-size: 16px; }
.sm-module ul li { float: left; padding: 0 20px; border-left: 1px solid #d2d2d2; margin-left: -1px; line-height: 16px; margin-bottom: 20px; }
.sm-module li a:hover { color: #4390e7; text-decoration: underline; }